{% extends "layout.html" %}
{% block title %}Alarms{% endblock %}
{% block head %}
{{ super() }}
<style>
    .btn {
        margin: 5px 5px;
    }

    .word-wrap {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>
  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-timezone.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-timezone-data.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-12" id="filter-nav">
            <center>
                <button class="btn btn-default" type="button" name="default">Default</button>
                <button class="btn btn-success" type="button" name="success">Success</button>
                <button class="btn btn-info" type="button" name="info">Info</button>
                <button class="btn btn-warning" type="button" name="warning">Warning</button>
                <button class="btn btn-danger" type="button" name="danger">Danger</button>
            </center>
            <p>
            <div id="main"></div>
        </div>
    </div>
</div>

<script>
(function () {
var alert_class = {21 : "alert alert-success",
                   20 : "alert alert-info",
                   30 : "alert alert-warning",
                   40 : "alert alert-danger"};

var alert_level = {21 : "success",
                   20 : "info",
                   30 : "warning",
                   40 : "danger"};

var msglist = [],
    filter = 'default';

function update_alarms() {
    $.getJSON($SCRIPT_ROOT + '/get_alarm?start=-100').done(function (obj) {
        msglist = obj.alarms;
        parse();
    });
    setTimeout(update_alarms,1000);
}

$("#filter-nav button").each(function() {
    $(this).click(function() {
        filter = $(this).attr("name");
        parse();
    });
});

update_alarms();

function parse() {
    var msgdisp;
    if (filter != 'default') {
        msgdisp = msglist.filter(function(d) {
            return alert_level[d.level] == filter;
        });
    } else {
        msgdisp = msglist;
    }

    var id = msgdisp.map(function(d) { return d.id; });

    var div = d3.select('#main').selectAll('p').data(id, String).sort(d3.descending);

    div.enter()
        .insert('p',':first-child')
        .attr('class', function(d, i) {
          if (msgdisp[i].level >= 40)
          {
            return "bg-danger word-wrap";
          }
          else
          {
            return (alert_level[msgdisp[i].level] || "") + " word-wrap";
          }
        })
        .text(function(d, i) {
            return ['[',moment(msgdisp[i].time).tz('America/Toronto').format('MMMM Do YYYY, h:mm:ss z'),
                '] ', msgdisp[i].message].join('');})

    div.exit().remove();

    if (msglist.length == 0) {
        $('#main').append('<div><center><h2>No alarms to display!</h2></center></div>');
    }
}
})()
</script>

<script>$('#nav-alarms').attr('class','active');</script>

{% endblock %}
