{% extends "layout.html" %}
{% block title %}Alarms{% endblock %}
{% block head %}
{{ super() }}
<style>
    .btn {
        margin: 5px 5px;
    }
</style>
{% endblock %}
{% block body %}
{{ super() }}
<div class="col-md-8 col-md-offset-2">
    <div class="container">
        <center><p id="filter-nav"></p></center>
    </div>
    <div class="container" id="main"></div>
</div>

<script src="{{ url_for('static', filename='js/d3.js') }}"></script>

<script>
var levels = {'success': 'alert alert-success',
              'info'   : 'alert alert-info',
              'warning': 'alert alert-warning',
              'danger' : 'alert alert-danger'};

var msglist = [],
    filter_level = 'default';

function get_poll() {
    return $.getJSON('/stream', {'last': null});
}

function update() {
    get_poll().done(function (obj) {
            msglist = obj.messages;
            parse();
            });
}

var names = ['default'].concat(Object.keys(levels));

for (var i=0; i < names.length; i++) {
    var level = names[i];
    var label = $("<button />");
    label.attr('type', 'button');
    label.attr('class', 'btn btn-' + level);
    label.text(level.charAt(0).toUpperCase() + level.slice(1));
    label.attr('name', level);
    label.click(function() {
            filter_level = $(this).attr('name');parse();
            });
    $('#filter-nav').append(label);
}

update();
setInterval(update,1000);

function parse() {
    var msgdisp;
    if (filter_level != 'default') {
        msgdisp = msglist.filter(function(d) {
                return d.level == filter_level;
                });
    } else {
        msgdisp = msglist;
    }

    var id = msgdisp.map(function(d) { return d.time; });

    var div1 = d3.select('#main').selectAll('div');
    var div = div1.data(id, String).sort(String);

    div.enter()
        .append('div')
        .attr('class', function(d, i) {
                return [levels[msgdisp[i].level], 
                ' alert-dismissable'].join(' ');})
        .text(function(d, i) {
                return ['[',(new Date(msgdisp[i].time)).toUTCString(),
                '] ', msgdisp[i].msg].join('');})
        .append('button')
        .attr('type', 'button')
        .attr('class', 'close')
        .attr('aria-hidden', 'true')
        .html('&times;')
        {% if edit %}
        .attr('data-dismiss', 'alert')
        .attr('onclick', function(d, i) {
                return "$.post('/dismiss',{'dismiss': '" + d + "'});";});
        {% else %}
        .attr('onclick', function(d, i) {
                return "alert('You must have edit priveleges!');";});
        {% endif %}

    div.exit().remove();
}
</script>

<script>$('#nav-alarms').attr('class','active');</script>

{% endblock %}
