{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{ super() }}

    <div class="col-md-8 col-md-offset-2">
        <div class="container">
            <p><ul class="nav nav-pills" id="filter-nav"></ul></p>
        </div>
        <div class="container" id="main"></div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>

    <script>
        var levels = {'success': 'alert alert-success',
                      'info'   : 'alert alert-info',
                      'warning': 'alert alert-warning',
                      'danger' : 'alert alert-danger'};

        function update() {
            return $.getJSON('/stream', {'last': null});
        }

        function json_error(_, __, e) { error(e); }

        update().done(parse).fail(json_error);

        setInterval(function () { update().done(ondone).fail(json_error);},1000);

        var names = ['default'].concat(Object.keys(levels));

        for (var i=0; i < names.length; i++) {
            var level = names[i];
            var li = $('<li />');
            var label = $("<button type='button' class='btn btn-" + level + "'/>");
            label.text(level.charAt(0).toUpperCase() + level.slice(1));
            label.attr('name', level);
            label.click(function() { filter_level = $(this).attr('name');parse(); });
            li.append(label);
            $('#filter-nav').append(li);
        }

        function error(e) {
            var div = $("<div class='alert alert-danger' />");
            $('#main').prepend(div);
            div.text(e);
        }

        var filter_level = 'default';

var msglist = []
    function ondone(obj) {
    msglist = obj.messages;
    parse();
}

        function parse() {
            if (filter_level != 'default') {
                msglist = msglist.filter(function(d) {
                        return d.level == filter_level;});
            }

            var id = msglist.map(function(d) { return d.time; });
            var level = msglist.map(function(d) { return levels[d.level]; });
            var msg = msglist.map(function(d) { return d.msg; });
            var date = msglist.map(function(d) { return new Date(d.time); });

            var div1 = d3.select('#main').selectAll('div');
            var div = div1.data(id, String).sort(String);

            div.enter()
              .append('div')
                .attr('class', function(d, i) {
                        return level[i] + ' alert-dismissable';})
                .text(function(d, i) {
                        return date[i].toUTCString() + ' - ' + msg[i];})
              .append('button')
                .attr('type', 'button')
                .attr('class', 'close')
                .attr('data-dismiss', 'alert')
                .attr('aria-hidden', 'true')
                .html('&times;')
                .attr('onclick', function(d, i) {
                        return "$.post('/dismiss',{'dismiss': '" + id[i] + "'});";
                    })

            div.exit().remove();
        }
    </script>
{% endblock %}
