{% extends "layout.html" %}
{% block title %}Physics DQ Summary{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="page-header">
  <h1 align="center">Physics Data Quality Summary</h1>
</div>

<div class="container">
  List physics runs over the last  
  <select id="limit" onchange="get_runs(this.value, 0);">
    <option selected value="{{limit}}">{{limit}}</option>
    {% for n in [5, 10, 25, 50, 100, 500] %}
      {% if n != limit %}
        <option value="{{n}}">{{n}}</option>
      {% endif %}
    {% endfor %}
  </select> runs, or select run: 

  <input style="margin-bottom: 30px; width: 80px;" type="text" id="run" onKeyDown="if(event.keyCode==13) get_runs(1, this.value);"></input>

  <table class="table table-hover">
    <thead>
      <tr> 
        <th> Run </th>
        <th> <a href="{{url_for('physicsdq')}}">DQHL</a> </th>
        <th> <a href="{{url_for('pingcrates')}}">Ping Crates</a> </th>
        <th> <a href="{{url_for('occupancy_by_trigger')}}">Occupancy</a> </th>
        <th> <a href="{{url_for('channelflags')}}">Channel Flags</a> </th>
        <th> <a href="{{url_for('trigger_clock_jump')}}">Clock Jumps</a> </th>
      </tr>
    </thead>
    {% for run in physics_runs %}
      <tr>
        <th> {{run}} </th>
        {% if dqhl_fail[run] == 1 %}
          <th class="danger">Fail</th>
        {% elif dqhl_fail[run] == 0 %}
          <th class="success">Pass</th>
        {% else %}
          <th class="info">Not Run </th>
        {% endif %}
        {% if ping_crates_fail[run] %}
          <th class="danger">Fail</th>
        {% else %}
          <th class="success">Pass</th>
        {% endif %}
        <th> - </th>
        {% if channel_flags_fail[run] == 1 %}
          <th class="danger">Fail</th>
        {% elif channel_flags_fail[run] == 2 %}
          <th class="warning"> Notice</th>
        {% elif channel_flags_fail[run] == 0 %}
          <th class="success">Pass</th>
        {% else %}
          <th class="info">Not Run </th>
        {% endif %}
        <th> - </th>
      <tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% block script %}
  <script>
    function get_runs(limit, run){
      params = {};
      params["limit"] = limit;
      params["run"] = run;
      window.location.replace($SCRIPT_ROOT + "/all_physics_dq?" + $.param(params));
    }
  </script>
{% endblock %}

