{% macro display_resistor(value) %}
    {%- if value > 1000000 -%}
        {{ "%.2f" % (value/1000000) }}M
    {%- elif value > 1000 -%}
        {{ "%i" % (value/1000) }}k
    {%- else -%}
        {{ "%i" % value }}
    {%- endif -%}
{% endmacro %}
{% extends "layout.html" %}
{% block title %}Resistors{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .noel tbody tr:nth-child(even) {
            background-color: #ffffff;
        }
        .noel tbody tr:nth-child(odd) {
            background-color: #adffad;
        }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
	    <div class="col-md-12" style="margin-bottom:20px">
                <label for="crate">Crate</label>
                <select id="crate">
                    {% for i in range(19) %}
                        <option {% if crate == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <label for="slot">Card</label>
                <select id="slot">
                    {% for i in range(16) %}
                        <option {% if slot == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p> Nominal Voltage: {{ "%i" % resistors['nominal_hv'] }} V
                <p> Supply Voltage: {{ "%i" % resistors['supply_voltage'] }} V (Supply {{ resistors['supply'] }})
                <p> R252 = {{ display_resistor(resistors['r252']) }} (<a href="{{ url_for("update_pmtic_resistors", crate=crate, slot=slot, pc=252) }}">Update</a>)
                <p> R151 = {{ display_resistor(resistors['r151']) }} (<a href="{{ url_for("update_pmtic_resistors", crate=crate, slot=slot, pc=252) }}">Update</a>)
                <p> PC0 = {{ display_resistor(resistors['pc0']) }} ({{ "%i" % resistors['v_pc0'] }} V)
                <p> PC1 = {{ display_resistor(resistors['pc1']) }} ({{ "%i" % resistors['v_pc1'] }} V)
                <p> PC2 = {{ display_resistor(resistors['pc2']) }} ({{ "%i" % resistors['v_pc2'] }} V)
                <p> PC3 = {{ display_resistor(resistors['pc3']) }} ({{ "%i" % resistors['v_pc3'] }} V)
                <p> Voltage to PC feed resistors = {{ "%i" % resistors['v_to_pc'] }} V
                <p> Total Resistance = {{ "%.1f" % (resistors['r_tot']/1000) }}k
                <p> PMTIC current = {{ "%.1f" % (resistors['pmtic_i']*1000) }}mA
                <p> <a href="{{ url_for('static', filename='images/PMTIC.pdf') }}">Diagram</a>
            </div>
            <div class="col-md-8">
                {% for pc in range(4) %}
                    {% if pc == 0 %}
                        <p> Paddle Card 0 (R386 = {{ display_resistor(resistors['r386']) }}) (<a href="{{ url_for("update_pmtic_resistors", crate=crate, slot=slot, pc=0) }}">Update</a>)
                    {% elif pc == 1 %}
                        <p> Paddle Card 1 (R419 = {{ display_resistor(resistors['r419']) }}) (<a href="{{ url_for("update_pmtic_resistors", crate=crate, slot=slot, pc=1) }}">Update</a>)
                    {% elif pc == 2 %}
                        <p> Paddle Card 2 (R421 = {{ display_resistor(resistors['r421']) }}) (<a href="{{ url_for("update_pmtic_resistors", crate=crate, slot=slot, pc=2) }}">Update</a>)
                    {% else %}
                        <p> Paddle Card 3 (R420 = {{ display_resistor(resistors['r420']) }}) (<a href="{{ url_for("update_pmtic_resistors", crate=crate, slot=slot, pc=3) }}">Update</a>)
                    {% endif %}
                    <table class="table table-condensed noel">
                        <thead>
                            <tr>
                                <th>Channel</th>
                                <th>Resistor</th>
                                <th>Resistance</th>
                                <th>Ideal Resistance</th>
                                <th>Voltage</th>
                                <th>Ideal Voltage</th>
                                <th>Difference</th>
                            </tr>
                        </thead>
                        {% for i in range(pc*8,pc*8+8) %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>R{{ "%i" % (i+387) }}</td>
                            {% if resistors['actual_resistors'][i] != 9999999999 %}
                                <td>{{ display_resistor(resistors['actual_resistors'][i]) }}</td>
                                <td>{{ display_resistor(resistors['ideal_resistors'][i]) }}</td>
                                <td>{{ "%.0f" % (resistors['actual_voltages'][i]) }}</td>
                                <td>{{ resistors['ideal_voltages'][i] }}</td>
                                <td>{{ "%.0f" % (resistors['ideal_voltages'][i] - resistors['actual_voltages'][i]) }}</td>
                            {% else %}
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>{{ resistors['ideal_voltages'][i] }}</td>
                                <td>-</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $("#crate, #slot").on("change", function() {
            var params = {};
            if (document.getElementById("crate").value != -1) {
                params['crate'] = document.getElementById("crate").value;
            }
            if (document.getElementById("slot").value != -1) {
                params['slot'] = document.getElementById("slot").value;
            }

            if (Object.keys(params).length > 0) {
                window.location.replace($SCRIPT_ROOT + "/calculate-resistors?" + $.param(params));
            } else {
                window.location.replace($SCRIPT_ROOT + "/calculate-resistors");
            }
        });
    </script>
{% endblock %}
