{% extends "layout.html" %}
{% block title %}TELLIE Data Quality for run {{run_number}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    <h1>TELLIE Data Quality for run {{run_number}}</h1>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Subrun Number</th>
                    <th>Correct Fibre</th>
                    <th>Correct Number of Peaks</th>
                    <th>Correct Peak Ratio</th>
                    <th>Correct Prompt Peak Time</th>
                    <th>Correct Peak Time Spacing</th>
                    <th>Trigger Check</th>
                    <th>Correct Run Length</th>
                    <th>Correct Pulse Delay</th>
                    <th>Correct Average NHit</th>
                    <th>Correct Max NHit</th>


                </tr>
            </thead>
            <tbody>
                {% for i in range(runInformation["subrun_numbers"]|length) %}
                <tr>
                    <td><a href="{{ url_for('calibdq_tellie_subrun_number',run_number=run_number,subrun_number=runInformation["subrun_numbers"][i])}}"> Subrun {{runInformation["subrun_numbers"][i]}}</a></td>

                    {% if runInformation["correct_fibre_check_subruns"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}

                    {% if runInformation["peak_number_check_subruns"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}
                    
                    {% if runInformation["prompt_peak_amplitude_check_subruns"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}

                    {% if runInformation["prompt_peak_adc_count_check_subruns"][i]== 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}

                    {% if runInformation["adc_peak_time_spacing_check_subruns"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}

                    {% if runInformation["trigger_check_subruns"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}
                    
                    {% if runInformation["subrun_run_length_check"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}
                    
                    {% if runInformation["pulse_delay_efficiency_check_subruns"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}

                    {% if runInformation["avg_nhit_check_subruns"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}
                    {% if runInformation["max_nhit_check_subruns"][i] == 1 %} 
                    <td>Pass</td>
                    {% else %}
                    <td><font color="red">Fail</font></td>
                    {% endif %}
                </tr> 
                {% endfor %}
            </tbody>
    </div>
</div>
{% endblock %}
