{% extends "layout.html" %}
{% block title %}Channels{% endblock %}
{% block head %}
{{ super() }}
<style>
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: steelblue;
    }

    .x.axis path {
        display: none;
    }

    .x.label {
        font-size: 15px;
        font-weight: normal;
    }

    #hero .tick text {
        font-size: 10px;
    }
</style>
<meta charset="UTF-8">
<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/bar-chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/crate.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="col-md-5 col-md-offset-1" id="hero" style="position:relative">
        <h2>CMOS Rates</h2>
    </div>
    <div class="col-md-3">
        <h2>Options</h2>
        <div class='input-group input-group-sm'>
            <span class='input-group-addon'>Threshold (kHz):</span>
            <input type='text' class='form-control' id='threshold'>
            <span class='input-group-btn'>
            <button class='btn btn-default' type='button' id='threshold-btn'>Set</button>
            </span>
        </div>
        <div class='input-group input-group-sm'>
            <span class='input-group-addon'>Stats:</span>
            <select class='form-control' id='stats'>
                <option>now</option>
                <option>avg</option>
                <option>max</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-1" id="crate">
        <h2>Crate View</h2>
    </div>
</div>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    var crate = crate_view().threshold(10e3);

    $('#threshold').val(crate.threshold()/1e3);

    $('#threshold-btn').click(function() {
        crate.threshold($('#threshold').val()*1e3);
    });

    setInterval(function() {
        $.getJSON($SCRIPT_ROOT + '/query', {name: 'cmos', stats: $('#stats').val()}).done(function(result) {
            d3.selectAll('#crate').data([result.value]).call(crate);
        });
    }, 2000);

    var a = Object();

    setInterval(function() {
        $.getJSON($SCRIPT_ROOT + '/query', {name: 'cmos', format: 'nested', stats: $('#stats').val()}).done(function(result) {
            a = result.value;
            update(sum_root(nav(result.value,level[0])));
        });
    }, 2000);

    function update(data) {
        d3.select('#hero').datum(data).call(chart);
    }

    var level = [[]];
    function nav(root, level) {
        for (var i=0; i < level.length; i++)
            root = root[level[i]]
        return root;
    }

    var chart = bar_chart().xlabel('Crate').margin({left:35});

    labels = ['Crate', 'Card', 'Channel'];

    chart.click(function(d, i) {
        if ($.type(nav(a,level[0])[d]) != 'number') {
            level.unshift(level[0].concat([d]));
            chart.xlabel(labels[level.length-1]);
            update(sum_root(nav(a,level[0])));
        }
    });

    chart.click_bg(function() {
        if (level.length > 1) {
            level.shift();
            chart.xlabel(labels[level.length-1]);
            update(sum_root(nav(a,level[0])));
        }
    });

    function sum_root(root) {
        function sum_node(node) {
            var sum = 0;
            if ($.type(node) == 'number')
                return node
            for (var key in node)
                sum += sum_node(node[key]);
            return sum;
        }
        function max_node(node) {
            var max = 0;
            if ($.type(node) == 'number')
                return node;
            for (var key in node) {
                var a = max_node(node[key]);
                max = (a > max) ? a : max;
            }
            return max;
        }
        var values = Object();
        for (var key in root)
            values[key] = max_node(root[key]);
        return values;
    }
</script>
<script>$('#nav-channels').attr('class','active');</script>
{% endblock %}
