{% extends "layout.html" %}
{% block title %}Channels{% endblock %}
{% block head %}
{{ super() }}
<style>
    #card table tr td {
        font-size: 10px;
        text-align: right;
        width: 25px;
        height: 18px;
    }

    #crate table tr td {
        padding:2px;
    }
</style>
<meta charset="UTF-8">
<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/bar-chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/crate.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-12" id="crate">
            <h4>Crate View</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" id="card">
                    <h4>Card View <small></small></h4>
                </div>
                <div class="col-md-3">
                    <h4>Options</h4>
                    <div class="form-group">
                    <div class='input-group input-group-sm'>
                        <span class='input-group-addon'>Threshold:</span>
                        <input type='text' class='form-control' id='threshold'>
                        <span class='input-group-btn'>
                        <button class='btn btn-default' type='button' id='threshold-btn'>Set</button>
                        </span>
                        <script>
                            // Set threshold when <Enter> key is pressed
                            $('#threshold').keyup(function(event) {
                                if (event.keyCode == 13)
                                    $('#threshold-btn').click();
                            });
                        </script>
                    </div></div>
                    <div class="form-group">
                    <div class='input-group input-group-sm'>
                        <span class='input-group-addon'>Stats:</span>
                        <select class='form-control' id='stats'>
                            <option>now</option>
                            <option>avg</option>
                            <option>max</option>
                        </select>
                    </div></div>
                    <h4>Status</h4>
                    <div id="status"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    var card = card_view().threshold({{ threshold }});
    {% if threshold > 1000 %}
        card = card.format(d3.format('.2s'));
    {% endif %}
        

    var crate = crate_view().threshold({{ threshold }});
    crate.click(function(d, i) {
        card.crate(i);
        d3.select('#card').call(card);
        $('#card h4 small').text('Crate ' + i);
    })

    $('#threshold').val(crate.threshold());

    $('#threshold-btn').click(function() {
        crate.threshold($('#threshold').val());
        card.threshold($('#threshold').val());
    });

    function warn(jqxhr, text_status, error) {
        var err = text_status + ', ' + error;
        $('#status').text(err).attr('class', 'alert alert-warning');
    }

    function success() {
        $('#status').attr('class', 'alert alert-success').text('Connected');
    }

    var interval = 5000;

    function update() {
        $.getJSON($SCRIPT_ROOT + '/query', {name: '{{ name }}', stats: $('#stats').val()})
            .done(function(result) {
                d3.select('#crate').datum(result.value).call(crate);
                d3.select('#card').datum(result.value).call(card);
                success()
            }).fail(warn);
    }

    d3.select('#crate').datum([]).call(crate);
    d3.select('#card').datum([]).call(card);
    update();
    setInterval(update,interval);

</script>
<script>$('#nav-{{ name }}').attr('class','active');</script>
{% endblock %}
