{% extends "layout.html" %}
{% block title %}Check Rates{% endblock %}
{% block head %}
<style>
.chart {

}
.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 8px;
}
circle {
    fill: steelblue;
}
h4 {
    display: inline;
}
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 100px;                  
  height: 24px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
</style>
<script>
    (function () {
        window.data = {{ data|safe }}; 
    }());
</script>
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4> Crate/Card/Channel </h4>
            <select id="crate-sel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
            /
            <select id="slot-sel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
            /
            <select id="channel-sel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <h4> Yaxis Scale: </h4>
            <select id="yscale">
                <option value="Linear">Linear</option>
                <option value="Log">Log</option>
            </select>
            <h4> Starting Run: </h4>
            <input type="text" id="starting_run" value=103214 style="width:80px;">
            <button type=button onclick="history();">Update Plot</button>
        </div>
    </div>
    <h1> </h1>
    <div class="row">
        <div class="col-md-6">
            {% if stats and discriminator_threshold %}
            <table class="table table-bordered">
                <tr>
                    <th>Mean</th> 
                    <th>Minimum</th> 
                    <th>Maximum</th>
                    <th>VThr</th> 
                </tr>
                <tr>
                    <td> {{ stats[2] }} &plusmn; {{ stats[3] }} </td>
                    <td> {{ stats[1] }} </td>
                    <td> {{ stats[0] }} </td>
                    <td> {{ discriminator_threshold['vthr'][channel] - discriminator_threshold['zero_disc'][channel] }} </td>
                </tr>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="main">
            {% if not data %}
                <h2 align="left"> No data available </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatter_plot_rates.js') }}"></script>    
    <script>
        if (url_params.crate) {
            document.getElementById("crate-sel").value = url_params.crate;
        }
        if (url_params.slot) {
            document.getElementById("slot-sel").value = url_params.slot;
        }
        if (url_params.channel) {
            document.getElementById("channel-sel").value = url_params.channel;
        }
        if (url_params.yscale) {
            document.getElementById("yscale").value = url_params.yscale;
        }
        if (url_params.starting_run) {
            document.getElementById("starting_run").value = url_params.starting_run;
        }

        draw_scatter_plot();
    </script>
{% endblock %}
