{% extends "layout.html" %}
{% block title %}Check Rates Histogram{% endblock %}
{% block head %}
<style>
h4 {display:inline;}
</style>
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <h4 style="inline"> Crate </h4>
    <select id="crate" onchange="window.location.replace($SCRIPT_ROOT + '/check_rates_histogram?' + $.param({'crate': $('#crate').val(), 'run': $('#run').val()}));">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="All">All</option>
    </select>
    <h4> Run </h4>
    <select id="run" onchange="window.location.replace($SCRIPT_ROOT + '/check_rates_histogram?' + $.param({'crate': $('#crate').val(), 'run': $('#run').val()}));">
        {% for row in cmos_runs %}
            <option value={{row['run']}}>{{row['run']}}</option>
        {% endfor %}
    </select>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="main"> 
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/cmos_histogram.js') }}"></script>    
    <script>
        if (url_params.crate) {
            document.getElementById("crate").value = url_params.crate;
        }
        if (url_params.run) {
            document.getElementById("run").value = url_params.run;
        }
        d3.select("#main")
            .datum({{ values }})
            .call(cmos_chart);
    </script>
{% endblock %}
