{% extends "layout.html" %}
{% block title %}Check Rates{% endblock %}
{% block head %}
<style>

body {
    border: 10px solid transparent;
}

</style>
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">

    <span style="display:inline-block; width: 110px;"></span>

    Detector CMOS rates for run
    <select id="poll_run_cmos" onchange="update('cmos',this.value);
                update_crate('cmos',this.value,crate_sel.value);">
        {% for row in cmos_runs %}
            <option value={{row['run']}}>{{row['run']}}</option>
        {% endfor %}
    </select>

    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="crateY" style="text-align:center"></div>
    </div>

    <span style="display:inline-block; width: 110px;"></span>
 
    Detector base currents for run
    <select id="poll_run_base" onchange="update('base',this.value);
                update_crate('base', this.value, crate_sel.value);">
        {% for row in base_runs %}
            <option value={{row['run']}}>{{row['run']}}</option>
        {% endfor %}
    </select>

    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="crateX" style="text-align:center"></div>
    </div>

</div>


<div class="container">

    CMOS rates for crate
    <select id="crate_sel" onchange="update_crate('cmos',poll_run_cmos.value,this.value);">
        <option selected value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
    </select>

    <span style="display:inline-block; width: 385px;"></span>

    Base currents for crate
    <select id="crate_sel2" onchange="update_crate('base',poll_run_base.value,this.value);">
        <option selected value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
    </select>

    <div class="row">
        <div class="col-md-6" id="card1"></div>
        <div class="col-md-6" id="card2"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            Crate/Card/Channel
            <select id="crate-sel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
            /
            <select id="slot-sel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
            /
            <select id="channel-sel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <button type=button onclick="history();">Plot History</button>
        </div>
    </div> 
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colorbrewer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/check_rates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatter_plot_rates.js') }}"></script>
    <script> setup(); </script>
{% endblock %}
