{% extends "layout.html" %}
{% block title %}Check Rates Summary{% endblock %}
{% block head %}
<style>
h2 {display:inline;}
h2 {margin-bottom: 5px;}
</style>
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
  <h2 align="left"> Information For the User </h2>
    <table class="table table-hover">
      <tr class="info"> <th> Returns the average base currents and CMOS rates for a given run. Since check rates isn't run every run, the values displayed are for the run closest to the run requested. If no run is requested, the most recent check rates values are shown. </th> </tr>
      <tr class="success"> <th> If the crate status is "Pass" the base currents and cmos rates look OK on average. </th> </tr>
      <tr class="danger"> <th>  If the crate status is "Fail" for the CMOS rates, the average CMOS rates might be too low or high. Contact an expert. </th> </tr>
      <tr class="danger"> <th> If the crate status is "Fail" for the base currents, the average base currents are too low and we might have too many PMTs off. Contact an expert. </th> </tr>
  </table>
</div>


<div class="container">
  <div class="col-md-8 col-md-offset-3">
    <h2 align="center"> Check Polling Data For Run: </h2>
    <input style="margin-bottom: 30px; width: 80px;" type="text" id="run" value={{run}} onKeyDown="if(event.keyCode==13) get_run(this.value);"></input>
  </div>
  <div class"row">
    {% if messages %}
      <div class="col-xs-8 col-xs-offset-3">
        <h2> {{messages[0]}} </h2>
      <div>
    {% else %}
      <div class="col-xs-4 col-xs-offset-2">
        <h4> CMOS Rates for Run: {{crun}} </h4>
        <table class="table table-hover">
          <thead>
            <tr> 
              <th> Crate </th>
              <th> Average (Hz) </th>
            </tr>
          </thead>
            {% for i in crate_average %}
              <!-- Crate average CMOS rate check is run dependent based on when disc. threshold raised  -->
              {% if ((i[1] > 5000 or (((i[1] < 400 and crun < 104613) or (i[1] < 325))
                    and i[1] > -1.0)) and i[0] != 19) or (i[0] == 19 and i[1] > 15000) %}
                <tr class="danger">
              {% elif i[1] == -1.0 %}
                <tr class="warning">
              {% else %}
                <tr class="success">
              {% endif %}
              {% if i[0] == 19 %}
                <th> OWLS </th>
              {% elif i[0] == 20 %}
                <th> HQE </th>
              {% else %}
                <th> {{i[0]}} </th>
              {% endif %}
              {% if i[1] != -1.0 %}
                <th> {{i[1]}} </th>
              {% else %}
                <th> Crate Off </th>
              {% endif %}
            </tr>
            {% endfor %}
        </table>
      </div>
      <div class ="col-xs-4">
        <h4> Base Currents for Run {{brun}} </h4>
        <table class="table table-hover">
          <thead>
            <tr> 
              <th> Crate </th>
              <th> Average </th>
            </tr>
          </thead>
            {% for i in crate_average %}
              {% if i[2] < 50 and i[2] > -1.0 %}
                <tr class="danger">
              {% elif i[2] == -1.0 %}
                <tr class="warning">
              {% else %}
                <tr class="success">
              {% endif %}
              {% if i[0] == 19 %}
                <th> OWLS </th>
              {% elif i[0] == 20 %}
                <th> HQE </th>
              {% else %}
                <th> {{i[0]}} </th>
              {% endif %}
              {% if i[2] != -1.0 %}
                <th> {{i[2]}} </th>
              {% else %}
                <th> Crate Off </th>
              {% endif %}
            </tr>
            {% endfor %}
        </table>
      <div>
    {% endif %}
  </div>
</div>

{% endblock %}
{% block script %}

    <script>
      function get_run(run){
         params = {};
         params["run"] = run;
         window.location.replace($SCRIPT_ROOT + "/check_rates_summary?" + $.param(params));
      }
    </script>
{% endblock %}

