{% extends "layout.html" %}
{% block title %}CMOS Rate Check{% endblock %}
{% block head %}
<style>
h4 {
    display:inline
}
.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: left;
  padding-bottom: 100px;
  margin-bottom: -100px;
  padding-left: 50px;
  border-left: 4px solid #C0C0C0;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
</style>
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <h4 align="center"> <b> Runs: {{ run_number[0] }}, {{ run_number[1] }} </b> </h4>
        <hr>
        <div class="row vertical-divider" style="margin-top: 30px">
            <div class="col-md-4">
                <h4> <span title="Channels correspond to normal PMTs at high voltage with large percent deviations in rate between the two most recent polls."> <b> CMOS Rate % Change &#62; </b> </h4>
                <input type="text" id="pct_change" value={{ pct_change }} style="width: 80px;">
                {% if cmos_changes is none %}
                    No issues.
                {% else %}
                    <ul>
                    <b> Total: {{ cmos_changes|length }} </b>
                    {% for message in cmos_changes %}
                        <li> {{ message }}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h4> <span title="Any channels with high rates, including channels not at HV, and their discriminator threshold."> <b> CMOS Rates &#62; </b> </h4>
                <input type="text" id="high_rate" value={{ high_rate }} style="width: 80px;">
                {% if cmos_high_rates is none %}
                    No issues.
                {% else %}
                    <ul>
                    <b> Total: {{ cmos_high_rates|length }} </b>
                    {% for message in cmos_high_rates %}
                        <li> {{ message }}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h4> <span title="Low rate channels corresponding to normal PMTs at high voltage not alread marked as low occupancy, zero occupancy, or bad discriminator."> <b> CMOS Rates &#60; </b> </h4>
                <input type="text" id="low_rate" value={{ low_rate }} style="width: 80px;">
                {% if cmos_low_rates is none %}
                    No issues.
                {% else %}
                    <ul>
                    <b> Total: {{ cmos_low_rates|length }} </b>
                    {% for message in cmos_low_rates %}
                        <li> {{ message }}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    document.getElementById("pct_change")
        .addEventListener("keyup", function(event) {
         if(event.keyCode == 13){
            cmos_rates();
        }
    });
    document.getElementById("high_rate")
        .addEventListener("keyup", function(event) {
         if(event.keyCode == 13){
            cmos_rates();
        }
    });
    document.getElementById("low_rate")
        .addEventListener("keyup", function(event) {
         event.preventDefault();
         if(event.keyCode == 13){
            cmos_rates();
        }
    });
    function cmos_rates() {
         var params = {};
         params['pct_change'] = document.getElementById("pct_change").value;
         params['high_rate'] = document.getElementById("high_rate").value;
         params['low_rate'] = document.getElementById("low_rate").value;
         window.location.replace($SCRIPT_ROOT + "/cmos_rates_check?" + $.param(params));
    }
</script>
{% endblock %}
