{% extends "layout.html" %}
{% block title %}Channels{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .carousel-control.right, .carousel-control.left {
            background-image: none;
        }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <div id="carousel" class="carousel slide" data-ride="carousel"
     data-interval="">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <!-- first slide -->
                <div class="row">
                    <center>
                        <div id="crate"></div>
                    </center>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Options</div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-4 control-label">
                                            Data
                                        </label>
                                        <div class="col-sm-8">
                                            <select id="data-source"
                                             class="form-control">
                                                <option value="cmos">CMOS</option>
                                                <option value="base">Base</option>
                                                <option value="occupancy">
                                                    Occupancy
                                                </option>
                                            </select>
                                        </div> <!-- col-sm-10 -->
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-4 control-label">
                                            Threshold (LO)
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="number"
                                             class="form-control">
                                        </div> <!-- col-sm-10 -->
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-4 control-label">
                                            Threshold (HI)
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="number"
                                             class="form-control">
                                        </div> <!-- col-sm-10 -->
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-4 control-label">
                                            Method
                                        </label>
                                        <div class="col-sm-8">
                                            <select id="data-method"
                                             class="form-control">
                                                <option value="avg">Average</option>
                                                <option value="max">Max</option>
                                            </select>
                                        </div> <!-- col-sm-10 -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <!-- second slide -->
                <div id="card">
            </div>
        </div>

        <a class="left carousel-control" href="#carousel" role="button"
         data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button"
         data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>


<!--
    <div class="container">
        <div class="row">
            <div class="col-md-5" id="crate">
                <h4>Crate View</h4>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-8" id="card">
                        <h4>Card View <small></small></h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Options</h4>
                        <div class="form-group">
                        <div class='input-group input-group-sm'>
                            <span class='input-group-addon'>Threshold:</span>
                            <input type='text' class='form-control' id='threshold'>
                            <script></script>
                        </div></div>
                        <h4>Status</h4>
                        <div id="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colorbrewer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/daq.js') }}"></script>

    <script>$('#nav-' + url_params['name']).attr('class','active');</script>
{% endblock %}
