{% macro display_run(run) -%}
    {% if run == 0 %} Current State {% else %} Run {{ run }} {% endif %}
{%- endmacro %}
    
{% extends "layout.html" %}
{% block title %}Detector State Diff{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ error }}
        </div>
        {% endif %}
        <div class="row">
	    <div class="col-md-12">
		<center>
                    <h2 style="display:inline">
                    {% if run1 == 0 %} Current State {% else %} Run {{ run1 }} ({{ run_state1['run_type'] | run_type }}){% endif %}
                    -
                    {% if run2 == 0 %} Current State {% else %} Run {{ run2 }} ({{ run_state1['run_type'] | run_type }}){% endif %}
		</center>
	    </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-9 text-right">
                <form action="{{ url_for("detector_state_diff") }}">
                    Run1: <input type="number" name="run1" value="{{ run1 }}"></input><br>
                    Run2: <input type="number" name="run2" value="{{ run2 }}"></input><br>
                    <input type="submit" value="Go"></input>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-9 text-right">
                <form action="{{ url_for("detector_state_diff") }}">
                Run: <input type="number" name="run1" value="{{ run1 }}"></input><br>
                    <input type="hidden" name="run2" value="0"></input>
                    <input type="submit" value="Diff with current state"></input>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-9 text-right">
                <form action="{{ url_for("detector_state_diff") }}">
                Run: <input type="number" name="run1" value="{{ run1 }}"></input><br>
                    <input type="hidden" name="run2" value="-1"></input>
                    <input type="submit" value="Diff with latest run"></input>
                </form>
            </div>
        </div>
        <div class="row">
	    <div class="col-md-6">
                <h2>MTC Settings</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td> Name </td>
                            <td> {{ display_run(run1) }} </td>
                            <td> {{ display_run(run2) }} </td>
                        </tr>
                    </thead>
                    {% for key in mtc_state1 if key not in ('timestamp', 'key') and mtc_state1[key] != mtc_state2[key] %}
                        <tr>
                            <td> {{ ' '.join(key.split('_')) }} </td>
                            {% if 'mask' in key %}
                            <td> {{ "0x%08X" % mtc_state1[key] }} </td>
                            <td> {{ "0x%08X" % mtc_state2[key] }} </td>
                            {% else %}
                            <td> {{ mtc_state1[key] }} </td>
                            <td> {{ mtc_state2[key] }} </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">All settings are the same!<td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
	    <div class="col-md-6">
                <h2>TUBii Settings</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td> Name </td>
                            <td> {{ display_run(run1) }} </td>
                            <td> {{ display_run(run2) }} </td>
                        </tr>
                    </thead>
                    {% for key in tubii_state1 if key not in ('timestamp', 'key') and tubii_state1[key] != tubii_state2[key] %}
                        <tr>
                            <td> {{ ' '.join(key.split('_')) }} </td>
                            {% if 'mask' in key %}
                            <td> {% if tubii_state1[key] is not none %}{{ "0x%08X" % tubii_state1[key] }}{% else %} None {% endif %} </td>
                            <td> {% if tubii_state2[key] is not none %}{{ "0x%08X" % tubii_state2[key] }}{% else %} None {% endif %} </td>
                            {% else %}
                            <td> {{ tubii_state1[key] }} </td>
                            <td> {{ tubii_state2[key] }} </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">All settings are the same!<td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
	    <div class="col-md-6">
                <h2>CAEN Settings</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td> Name </td>
                            <td> {{ display_run(run1) }} </td>
                            <td> {{ display_run(run2) }} </td>
                        </tr>
                    </thead>
                    {% for key in caen_state1 if key not in ('timestamp', 'key') and caen_state1[key] != caen_state2[key] %}
                        <tr>
                            <td> {{ ' '.join(key.split('_')) }} </td>
                            {% if 'mask' in key %}
                            <td> {{ "0x%08X" % caen_state1[key] }} </td>
                            <td> {{ "0x%08X" % caen_state2[key] }} </td>
                            {% else %}
                            <td> {{ caen_state1[key] }} </td>
                            <td> {{ caen_state2[key] }} </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">All settings are the same!<td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
	    <div class="col-md-6">
                <h2>Crate Settings</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td> Crate </td>
                            <td> Name </td>
                            <td> {{ display_run(run1) }} </td>
                            <td> {{ display_run(run2) }} </td>
                        </tr>
                    </thead>
                    {% for crate in range(20) %}
                        {% for key in ['ctc_delay', 'hv_relay_mask1', 'hv_relay_mask2', 'hv_a_on', 'hv_b_on', 'hv_dac_a', 'hv_dac_b', 'xl3_readout_mask', 'xl3_mode'] %}
                            {% if detector_state1[crate][key] != detector_state2[crate][key] %}
                                <tr>
                                    <td> {{ crate }} </td>
                                    <td> {{ ' '.join(key.split('_')) }} </td>
                                    {% if 'mask' in key %}
                                    <td> {{ "0x%08X" % detector_state1[crate][key] }} </td>
                                    <td> {{ "0x%08X" % detector_state2[crate][key] }} </td>
                                    {% else %}
                                    <td> {{ detector_state1[crate][key] }} </td>
                                    <td> {{ detector_state2[crate][key] }} </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
	    <div class="col-md-6">
                <h2>Channel Thresholds</h2>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <td> Crate </td>
                            <td> Card </td>
                            <td> Channel </td>
                            <td> {{ display_run(run1) }} </td>
                            <td> {{ display_run(run2) }} </td>
                        </tr>
                    </thead>
                    {% for crate in range(20) if detector_state1[crate] is not none and detector_state2[crate] is not none %}
                    {% for card in range(16) if detector_state1[crate][card] is not none and detector_state2[crate][card] is not none %}
                    {% for channel in range(32) %}
                    {% if detector_state1[crate][card]['vthr'][channel] != detector_state2[crate][card]['vthr'][channel] %}
                        <tr>
                            <td> {{ crate }} </td>
                            <td> {{ card }} </td>
                            <td> {{ channel }} </td>
                            <td> {{ detector_state1[crate][card]['vthr'][channel] }} </td>
                            <td> {{ detector_state2[crate][card]['vthr'][channel] }} </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
	    <div class="col-md-6">
                <h2>Channel Triggers</h2>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td colspan="2"> {{ display_run(run1) }} </td>
                            <td colspan="2"> {{ display_run(run2) }} </td>
                        </tr>
                        <tr>
                            <td> Crate </td>
                            <td> Card </td>
                            <td> Channel </td>
                            <td> N100 </td>
                            <td> N20 </td>
                            <td> N100 </td>
                            <td> N20 </td>
                        </tr>
                    </thead>
                    {% for crate in range(20) if detector_state1[crate] is not none and detector_state2[crate] is not none %}
                    {% for card in range(16) if detector_state1[crate][card] is not none and detector_state2[crate][card] is not none %}
                    {% for channel in range(32) %}
                    {% if detector_state1[crate][card]['tr100_mask'][channel] != detector_state2[crate][card]['tr100_mask'][channel] or detector_state1[crate][card]['tr20_mask'][channel] != detector_state2[crate][card]['tr20_mask'][channel] %}
                        <tr>
                            <td> {{ crate }} </td>
                            <td> {{ card }} </td>
                            <td> {{ channel }} </td>
                            <td> {{ detector_state1[crate][card]['tr100_mask'][channel] }} </td>
                            <td> {{ detector_state1[crate][card]['tr20_mask'][channel] }} </td>
                            <td> {{ detector_state2[crate][card]['tr100_mask'][channel] }} </td>
                            <td> {{ detector_state2[crate][card]['tr20_mask'][channel] }} </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
