{% extends "layout.html" %}
{% block title %}Detector State Check{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ error }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <center>
                    {% if run == 0 %}
                        <h1>Current State</h1>
                    {% else %}
                        <h1>Run {{ run }}</h2>
                    {% endif %}
                </center>
            </div>
            <div class="col-md-4">
                <h2>Detector State</h2>
                <ul>
                {% for message in messages %}
                    <li>{{ message }}
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Channel Settings</h2>
                <ul>
                {% for crate, card, channel, message in channels %}
                    <li>{{ "%i/%i/%i - %s" % (crate, card, channel, message) }}
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Active Alarms</h2>
                <ul>
                {% for alarm in alarms %}
                    <li>{{ alarm['description'] }}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
