{% extends "layout.html" %}
{% block title %}Detector{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="hero">
                <select id="projection-menu"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Histogram 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body" id="hist">
                                <select class="pull-right" id="color-scale-menu"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="crate" style="text-align:center"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colorbrewer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.geo.projection.v0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>

    <script>
        var pmtinfo = {% include 'pmtinfo.json' %};
    </script>

    <script src="{{ url_for('static', filename='js/detector.js') }}"></script>

    <script>
        setup();
        update();
    </script>

    <script>$('#nav-detector').attr('class','active');</script>
{% endblock %}
