{% extends "layout.html" %}
{% block title %}Detector State Check{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ error }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
{% endblock %}
