{% extends "layout.html" %}
{% block title %}Channel Discriminator Thresholds{% endblock %}
{% block head %}
    {{ super() }}
<style>
h4 {display:inline;}
</style>
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <table class="table table-hover">
      <tr class="info"> <th> Compare discriminator thresholds across runs. Run = 0 shows the current thresholds. Select runs larger than 103216. </th> </tr>
    </table>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-0" id="main1">
            <h4> Discriminator Thresholds for run: </h4>
            <input style="margin-bottom: 30px; width: 80px;" type="text" id="run1" value={{run1}} onKeyDown="if(event.keyCode==13) get_run(this.value, run2.value);"></input>
            {% if message1 %}
                <h3> {{message1}} </h3>
            {% else %}
                {% if average1 %}
                <table class="table table-hover">
                    <tr>
                        <th>Mean (DAC Counts)</th>
                        <th> <a href="{{ url_for('max_thresholds', run_number=run1) }}"> # Maxed Thresholds </a> </th>
                    </tr>
                    <tr>
                        <td> {{ average1 }} </td>
                        <td> {{ nmax1 }} </td>
                    </tr>
                </table>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-xs-6 col-xs-offset-0" id="main2">
            <h4> Discriminator Thresholds for run: </h4>
            <input style="margin-bottom: 30px; width: 80px;" type="text" id="run2" value={{run2}} onKeyDown="if(event.keyCode==13) get_run(run1.value, this.value);"></input>
            {% if message2 %}
                <h3> {{message2}} </h3>
            {% else %}
                {% if average2 %}
                <table class="table table-hover">
                    <tr>
                        <th>Mean (DAC Counts)</th>
                        <th> <a href="{{ url_for('max_thresholds', run_number=run2) }}"> # Maxed Thresholds </a> </th>
                    </tr>
                    <tr>
                        <td> {{ average2 }} </td>
                        <td> {{ nmax2 }} </td>
                    </tr>
                </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/discriminator.js') }}"></script>    
    <script>

        function get_run(run1, run2){
           params = {};
           params["run1"] = run1;
           params["run2"] = run2;
           window.location.replace($SCRIPT_ROOT + "/discriminator_info?" + $.param(params));
        }

        if({{ values1 }} != 0){
          d3.select("#main1")
              .datum({{ values1 }})
            .call(discriminator_chart);
        }

        if({{ values2 }} != 0){
          d3.select("#main2")
              .datum({{ values2 }})
            .call(discriminator_chart2);
        }

    </script>
{% endblock %}
