{% extends "layout.html" %}
{% block title %}Dropout{% endblock %}
{% block head %}
<style>
.navigator .data {
    fill: lightgrey;
    stroke-width: 0px;
}

.navigator .line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1px;
}

    .navigator .viewport {
        stroke: grey;
        fill: black;
        fill-opacity: 0.2;
    }
</style>
    {{ super() }}

{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="plot-container">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script>
        z ={}
scrolling_line_chart = function() {
    var xScale = d3.scale.linear(),
        yScale = d3.scale.linear();

    var valueline = d3.svg.line()
        .x(function(d) { return xScale(d[0]); })
        .y(function(d) { return yScale(d[1][0]); })

    var div = d3.select("body")
        .append("div")
        .attr("class", "tooltip")
        .style("opacity",0);
    var scrolling_line_chart = function(selection) {
        selection.each(function(data) {
            line_graph = d3.select(this).selectAll('.scrolling_line_chart').data([data]);
            line_graph.enter().append('g').classed("scrolling_line_chart", true);

            dots = line_graph.selectAll("scatter-dots")
                .data(data, function(d) { return d[0]; });

            line_graph.append("path")
                .datum(data)
                .attr('fill', "none")
                .attr("stroke", "steelblue")
                .attr("d", valueline);

            dots.enter()
                .append('g')
                .classed('scatter-dots', true)
                .append("svg:a")
                .attr("xlink:href", function(d) { return "dropout/"+d[0]; })
                .append("svg:circle")
                .attr("cx", function(d) { return xScale(d[0]); })
                .attr("cy", function(d) { return yScale(d[1][0]); })
                .attr("r", 8)
                .on("mouseover", function(d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", 0.9);
                    div.html("(" + d[0] + ", " + d[1][0] +")")
                        .style("left", (d3.event.pageX)+"px")
                        .style("top", (d3.event.PageY)+"px");
                })
                .on("mouseout", function(d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", 0);
                });

            dots.exit().remove();
        });
    };

    scrolling_line_chart.xScale = function(value) {
        if(!arguments.length) {
            return xScale;
        }
        xScale = value;
        return scrolling_line_chart;
    };

    scrolling_line_chart.yScale = function(value) {
        if(!arguments.length) {
            return yScale;
        }
        yScale = value;
        return scrolling_line_chart;
    };
    return scrolling_line_chart;

}
z =null;
$.getJSON("_dropout_fits", function(data) {
    xMin = d3.min(data, function(d) { return d[0];});
    xMax = d3.max(data, function(d) { return d[0];});
    yMin = d3.min(data, function(d) { return d[1][0];});
    yMax = d3.max(data, function(d) { return d[1][0];});
    // Add a bit of nice visual buffer
    yMin -= yMin*0.1;
    yMax += yMax*0.1;

    margin = {top:10, right:80, bottom:80, left:120};
    width = $("#plot-container").width() - margin.left - margin.right;
    height = 400 - margin.top - margin.bottom;
    xScale = d3.scale.linear()
    yScale = d3.scale.linear()
    z = scrolling_line_chart().xScale(xScale).yScale(yScale)

    var xAxis = d3.svg.axis()
    .scale(xScale)
    .orient('bottom')
    .ticks(5);

    var yAxis = d3.svg.axis()
    .scale(yScale)
    .orient('left');

    svg = d3.select("#plot-container").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom);
    g = svg.append('g')
        .attr("transform", "translate("+margin.left+", "+margin.top+")");

    xScale.domain([xMin, xMax]).range([0,width]);
    yScale.domain([yMin, yMax]).range([height, 0]);
    g.append("g")
    .attr("class", "x axis")
    .attr("transform","translate(0,"+height+")")
    .call(xAxis)

    g.append("g")
    .attr("class", "y axis")
    .call(yAxis);

    var plotArea = g.append('g');
    plotArea.append("clipPath")
        .attr("id", "plotAreaClip")
        .append("rect")
        .attr({width:width, height:height})
    plotArea.attr("clip-path", "url(#plotAreaClip)");
    plotArea.datum(data).call(z);

});

    </script>
{% endblock %}
