{% extends "layout.html" %}
{% block title %}Dropout{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/metricsgraphics.css') }}" media="screen">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mg_line_brushing.css') }}" media="screen">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="N100-plot-container"> </div>
            <div id="N100-fit-values">
                <table class="table table-name">
                    <tr>
                        <td>Rate</td>
                        <td id="N100-rate">-</td>
                    </tr>
                    <tr>
                        <td>Sigma </td>
                        <td id="N100-sigma">-</td>
                    </tr>
                    <tr>
                        <td>Separation</td>
                        <td id="N100-separation">-</td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td id="N100-position">-</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div id="N20-plot-container"> </div>
            <div id="N20-fit-values">
                <table class="table table-name">
                    <tr>
                        <td>Rate</td>
                        <td id="N20-rate">-</td>
                    </tr>
                    <tr>
                        <td>Sigma </td>
                        <td id="N20-sigma">-</td>
                    </tr>
                    <tr>
                        <td>Separation</td>
                        <td id="N20-separation">-</td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td id="N20-position">-</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script>
        function new_dropout_plot(data, type) {
            mg_data = null
            if(data && data != undefined) {
                l1_data = []
                l2_data = []
                for(var i=0; i<data.x_vals.length; i+=2) {
                    l1_data.push({"x":data.x_vals[i], "y": data.y_vals[i]});
                }
                for(var i=0; i<data.x_vals.length; i+=2) {
                    l2_data.push({"x":data.x_vals[i], "y": data.fit_vals[i]});
                }
                mg_data = [l1_data, l2_data];
            }
            MG.data_graphic({
                title :type,
                data:mg_data,
                target:"#"+type+"-plot-container",
                chart_type:mg_data ? "line": "missing-data",
                full_width:true,
                animate_on_load: true,
                area:false,
                height:440,
                right:40,
                missing_text:"Could not get plot",
                legend:["Data", "Fit"],
                aggregate_rollover:true,
                colors:["blue", "red"],
                x_accessor:"x",
                y_accessor:"y",
                x_label:"ADC Values",
                y_axis: false
            });
        }

        function fill_in_fit_params(data, type) {
            if(!data || data == undefined) {
                return;
            }
            elem = document.getElementById(type+"-rate");
            elem.textContent = data.rate;
            elem = document.getElementById(type+"-sigma");
            elem.textContent = data.sigma;
            elem = document.getElementById(type+"-separation");
            elem.textContent = data.separation;
            elem = document.getElementById(type+"-position");
            elem.textContent = data.peak_offset;

        }
$.getJSON("_dropout_detail/N100/{{run_number}}", function(data) {
    new_dropout_plot(data, "N100");
    fill_in_fit_params(data, "N100");
});
$.getJSON("_dropout_detail/N20/{{run_number}}", function(data) {
    new_dropout_plot(data, "N20");
    fill_in_fit_params(data, "N20");
});
    </script>
{% endblock %}
