{% extends "layout.html" %}
{% block title %}ECA Detail{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}

<div class="container">
<h2>Run {{ run_number }} details</h2>            
<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">x0 Coefficient / x1 Coefficient</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fCubInt.png") }}"
            alt="x0 coefficient histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fCubFitPar11.png") }}"
            alt="x1 coefficient histogram" class="img-responsive col-md-6">          
        </div>
    </div>
</div>

<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">x2 Coefficient / x3 Coefficient</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fCubFitPar21.png") }}"
            alt="x2 coefficient histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fCubFitPar31.png") }}"
            alt="x3 coefficient histogram" class="img-responsive col-md-6">          
        </div>
    </div>
</div>


<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">N Points Used Per Fit/ Point Widths</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fNUsed.png") }}"
            alt="N points used per fit histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fWidth.png") }}"
            alt="TSlope Point Widths histogram" class="img-responsive col-md-6">          
        </div>
    </div>
</div>

{% endblock %}
