{% extends "layout.html" %}
{% block title %}ECA Detail{% endblock %}
{% block head %}
    {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pca.css') }}" media="screen">
{% endblock %}
{% block body %}
    {{ super() }}

<div class="container">
<h2>Run {{ run_number }} details</h2>            
<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QHS / QHS average</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPedestal1.png") }}"
            alt="QHS histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPedAve2.png") }}"
            alt="QHS average by crate" class="img-responsive col-md-6">          
        </div>
    </div>
</div>

<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QHL / QHL average</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPedestal2.png") }}"
            alt="QHL histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPedAve2.png") }}"
            alt="QHL average by crate" class="img-responsive col-md-6">          
        </div>
    </div>
</div>


<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QLX / QLX average</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPedestal3.png") }}"
            alt="QLX histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPedAve3.png") }}"
            alt="QLX average by crate" class="img-responsive col-md-6">          
        </div>
    </div>
</div>


<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">TAC / TAC average</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPedestal4.png") }}"
            alt="TAC histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPedAve4.png") }}"
            alt="TAC average by crate" class="img-responsive col-md-6">          
        </div>
    </div>
</div>

<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QHS Width / QHS Width average</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPWidth1.png") }}" 
            alt="QHS Width histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fWidthAve1.png") }}" 
            alt="QHS Width average by crate" class="img-responsive col-md-6">          
        </div>
    </div>
</div>

<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QHL Width / QHL Width average</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPWidth2.png") }}" 
            alt="QHL Width histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fWidthAve2.png") }}" 
            alt="QHL Width average by crate" class="img-responsive col-md-6">          
        </div>
    </div>
</div>


<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QLX Width / QLX Width average</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPWidth3.png") }}" 
            alt="QLX Width histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fWidthAve3.png") }}" 
            alt="QLX Width average by crate" class="img-responsive col-md-6">          
        </div>
    </div>
</div>


<div class="row">        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">TAC Width / TAC Width average</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fPWidth4.png") }}" 
            alt="TAC Width histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="gen/" + run_number + "fWidthAve4.png") }}" 
            alt="TAC Width average by crate" class="img-responsive col-md-6">          
        </div>
    </div>
</div>


{% endblock %}
