{% extends "layout.html" %}
{% block title %}ECAL State Diff{% endblock %}
{% block head %}
    {{ super() }}
<style>
.panel-default-test {
    border-color: #D0D0D0;
}
h1 {
   display:inline;
   width:200px;
   text-align:center;
}
</style>
{% endblock %}
{% block body %}
    {{ super() }}

<div class="container">
  <table class="table table-hover">
    <tr class="info"> <th> Compare ECAL setting to the hardware settings for a given run/crate/slot. Select a run larger than 105827 and run = 0 for the current state. </th> </tr>
  </table>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1> Compare ECAL to run: </h1>
      <input align="center" style="margin-bottom: 30px; width: 80px;" type="text" id="run" value={{run}} onKeyDown="if(event.keyCode==13) update(this.value, crate.value, slot.value);"></input>
      <label for="crate">Crate</label>
      <select id="crate" onchange="update(run.value, this.value, slot.value);">
          <option value="-1">-</option>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
      </select>
      <label for="slot">Card</label>
      <select id="slot" onchange="update(run.value, crate.value, this.value);">
          <option value="-1">-</option>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
      </select>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-4 col-xs-offset-0">
      <div class="panel-group">
        <div class="panel panel-default-test">
          <div class="panel-heading">
            <h3 class="panel-title" align="center">
              <a data-toggle="collapse" data-parent="accordion" href="#collapsevthr">
                Discriminator Thresholds
              </a>
            </h3>
            <div id="collapsevthr" class="panel-collapse collapse in">
              <table class="table table-striped">
                {% if vthr %}
                  <thead>
                    <tr>
                      <td> Crate </td>
                      <td> Card  </td>
                      <td> Channel </td>
                      <td> ECAL </td>
                      <td> Detector </td>
                    <tr>
                  </thead>
                  {% for i in vthr %}
                    <tr>
                      <td> {{ i[0] }} </td>
                      <td> {{ i[1] }} </td>
                      <td> {{ i[2] }} </td>
                      <td> {{ i[3] }} </td>
                      <td> {{ i[4] }} </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td> Setting are the same as the ECAL. </td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-xs-offset-0">
      <div class="panel-group">
        <div class="panel panel-default-test">
          <div class="panel-heading">
            <h3 class="panel-title" align="center">
              <a data-toggle="collapse" data-parent="accordion" href="#collapsembid">
                FEC ID
              </a>
            </h3>
            <div id="collapsembid" class="panel-collapse collapse in">
              <table class="table table-striped">
                {% if mbid %}
                  <thead>
                    <tr>
                      <td> Crate </td>
                      <td> Card  </td>
                      <td> ECAL </td>
                      <td> Detector </td>
                    <tr>
                  </thead>
                  {% for i in mbid %}
                    <tr>
                      <td> {{ i[0] }} </td>
                      <td> {{ i[1] }} </td>
                      <td> {{ i[2] }} </td>
                      <td> {{ i[3] }} </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td> Setting are the same as the ECAL. </td>
                  </tr> 
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-xs-offset-0">
      <div class="panel-group">
        <div class="panel panel-default-test">
          <div class="panel-heading">
            <h3 class="panel-title" align="center">
              <a data-toggle="collapse" data-parent="accordion" href="#collapsedbid">
                Daughterboard ID
              </a>
            </h3>
            <div id="collapsedbid" class="panel-collapse collapse in">
              <table class="table table-striped">
                {% if dbid %}
                  <thead>
                    <tr>
                      <td> Crate </td>
                      <td> Card  </td>
                      <td> DB # </td>
                      <td> ECAL </td>
                      <td> Detector </td>
                    <tr>
                  </thead>
                  {% for i in dbid %}
                    <tr>
                      <td> {{ i[0] }} </td>
                      <td> {{ i[1] }} </td>
                      <td> {{ i[2] }} </td>
                      <td> {{ i[3] }} </td>
                      <td> {{ i[4] }} </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td> Setting are the same as the ECAL. </td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-xs-offset-0">
      <div class="panel-group">
        <div class="panel panel-default-test">
          <div class="panel-heading">
            <h3 class="panel-title" align="center">
              <a data-toggle="collapse" data-parent="accordion" href="#collapsevbal0">
                VBAL0
              </a>
            </h3>
            <div id="collapsevbal0" class="panel-collapse collapse">
              <table class="table table-striped">
                {% if vbal0 %}
                  <thead>
                    <tr>
                      <td> Crate </td>
                      <td> Card  </td>
                      <td> Channel </td>
                      <td> ECAL </td>
                      <td> Detector </td>
                    <tr>
                  </thead>
                  {% for i in vbal0 %}
                    <tr>
                      <td> {{ i[0] }} </td>
                      <td> {{ i[1] }} </td>
                      <td> {{ i[2] }} </td>
                      <td> {{ i[3] }} </td>
                      <td> {{ i[4] }} </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td> Setting are the same as the ECAL. </td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-xs-offset-0">
      <div class="panel-group">
        <div class="panel panel-default-test">
          <div class="panel-heading">
            <h3 class="panel-title" align="center">
              <a data-toggle="collapse" data-parent="accordion" href="#collapsevbal1">
                VBAL1
              </a>
            </h3>
            <div id="collapsevbal1" class="panel-collapse collapse">
              <table class="table table-striped">
                {% if vbal1 %}
                  <thead>
                    <tr>
                      <td> Crate </td>
                      <td> Card  </td>
                      <td> Channel </td>
                      <td> ECAL </td>
                      <td> Detector </td>
                    <tr>
                  </thead>
                  {% for i in vbal1 %}
                    <tr>
                      <td> {{ i[0] }} </td>
                      <td> {{ i[1] }} </td>
                      <td> {{ i[2] }} </td>
                      <td> {{ i[3] }} </td>
                      <td> {{ i[4] }} </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td> Setting are the same as the ECAL. </td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-4 col-xs-offset-0">
      <div class="panel-group">
        <div class="panel panel-default-test">
          <div class="panel-heading">
            <h3 class="panel-title" align="center">
              <a data-toggle="collapse" data-parent="accordion" href="#collapseisetm">
                ISETM DACs
              </a>
            </h3>
            <div id="collapseisetm" class="panel-collapse collapse">
              <table class="table table-striped">
                {% if isetm %}
                  <thead>
                    <tr>
                      <td> Crate </td>
                      <td> Card  </td>
                      <td> Chip </td>
                      <td> ECAL </td>
                      <td> Detector </td>
                    <tr>
                  </thead>
                  {% for i in isetm %}
                    <tr>
                      <td> {{ i[0] }} </td>
                      <td> {{ i[1] }} </td>
                      <td> {{ i[2] }} </td>
                      <td> {{ i[3] }} </td>
                      <td> {{ i[4] }} </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td> Setting are the same as the ECAL. </td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-xs-offset-0">
      <div class="panel-group">
        <div class="panel panel-default-test">
          <div class="panel-heading">
            <h3 class="panel-title" align="center">
              <a data-toggle="collapse" data-parent="accordion" href="#collapsermp">
                RMP DACs
              </a>
            </h3>
            <div id="collapsermp" class="panel-collapse collapse">
              <table class="table table-striped">
                {% if rmp %}
                  <thead>
                    <tr>
                      <td> Crate </td>
                      <td> Card  </td>
                      <td> Chip </td>
                      <td> ECAL </td>
                      <td> Detector </td>
                    <tr>
                  </thead>
                  {% for i in rmp %}
                    <tr>
                      <td> {{ i[0] }} </td>
                      <td> {{ i[1] }} </td>
                      <td> {{ i[2] }} </td>
                      <td> {{ i[3] }} </td>
                      <td> {{ i[4] }} </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td> Setting are the same as the ECAL. </td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    if (url_params.crate) {
      document.getElementById("crate").value = url_params.crate;
    }
    if (url_params.slot) {
      document.getElementById("slot").value = url_params.slot;
    }

    function update(run, crate, slot){
      params = {};
      params["run"] = run;
      params["crate"] = crate;
      params["slot"] = slot;
      window.location.replace($SCRIPT_ROOT + "/ecal_state_diff?" + $.param(params));
    }

  </script>
{% endblock %}

