{% extends "layout.html" %}
{% import 'histogram-chart.html' as histogram with context %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style>

    .bars rect {
      fill: steelblue;
    }

    .axis text {
      font: 10px sans-serif;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

.x.axis line {
  shape-rendering: auto;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.area {
fill: #31a354;
stroke: #000;
stroke-width: 0;
opacity: 0.25;
}

.title {
line-height: 30px;
}

    </style>

    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/histogram-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/time-series.js') }}"></script>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if containers %}
                {% for row in containers|batch(3) %}
                {% set row_loop = loop %}
                <div class="row">
                    {% for item in row %}
                    {% set divid = 'div' ~ row_loop.index ~ loop.index %}
                    <div class="col-md-4" id="{{ divid }}">
                        <h2>{{ item.name }}</h2>
                        {% if item.type == 'histogram' %}
                        {{ histogram.histogram_chart(divid,url='get',name='test',interval=5000,bins=item.bins) }}
                        {% else %}
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn" href="#">View details &raquo;</a></p>
                        {% endif %}
                    </div><!--/span-->
                    {% endfor %}
                </div><!--/row-->
                {% endfor %}
                {% endif %} <!-- containers -->
            </div><!--/.fluid-container-->
        </div>
    </div>

    <center><div class='col-md-12' id='test_timeseries'></div></center>
    <center><div class='col-md-12' id='test_timeseries'></div></center>

      <script>
        $(function(){var ts = timeSeries('timeseries').n(500);
        d3.selectAll('#test_timeseries').data(['test!','test2']).call(ts);});
      </script>

    <script>$('#nav-home').attr('class','active');</script>
{% endblock %}
</html>
