{% extends "layout.html" %}
{% import 'histogram-chart.html' as histogram with context %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style>

    .bar {
        fill: steelblue;
    }

    .axis text {
        font: 10px sans-serif;
    }

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.label {
        font: 14px sans-serif;
    }

    .x.axis line {
        shape-rendering: auto;
    }

    .line {
      fill: none;
      stroke: #000;
      stroke-width: 1.5px;
    }

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .area {
        fill: #31a354;
        stroke: #000;
        stroke-width: 0;
        opacity: 0.25;
    }

    .title {
        line-height: 30px;
    }

    </style>

    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bar-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/time-series.js') }}"></script>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12" id="nhit">
                        <h2>NHit</h2>
                    </div>
                    <div class="col-md-12" id="pos">
                        <h2>Radial Position</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="info">
                <h2>Info</h2>
                <button type='button' class='btn btn-default' id='btn-start'>Start</button>
                <button type='button' class='btn btn-default' id='btn-stop'>Stop</button>
                <p>
                <table class="table table-bordered">
                    <tr>
                        <td>ID</td>
                        <td id='id'></td>
                    </tr>
                    <tr>
                        <td>Run #</td>
                        <td id='run'></td>
                    </tr>
                    <tr>
                        <td>First GTID</td>
                        <td id='gtid_first'></td>
                    </tr>
                    <tr>
                        <td>Last GTID</td>
                        <td id='gtid_last'></td>
                    </tr>
                    <tr>
                        <td>Events</td>
                        <td id='events'></td>
                    </tr>
                    <tr>
                        <td>Passed Events</td>
                        <td id='passed_events'></td>
                    </tr>
                    <tr>
                        <td>History</td>
                        <td>
                <button type='button' class='btn btn-default btn-xs' id='ctrlm1'>-1</button>
                <button type='button' class='btn btn-default btn-xs' id='ctrlp1'>+1</button>
                <button type='button' class='btn btn-default btn-xs' id='ctrlmt'>-10</button>
                <button type='button' class='btn btn-default btn-xs' id='ctrlpt'>+10</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td id='entry_time'></td>
                    </tr>
                    <tr>
                        <td>Clock</td>
                        <td id='clock'></td>
                    </tr>
                </table>
                <h3>Status</h3>
                <div id='status'></div>
            </div><!--/span-->
        </div>
    </div>

    <script>$('#nav-home').attr('class','active');</script>

    <script>
    var current_id = null;

    $('#ctrlm1').click(function() {
        $('#btn-stop').trigger('click');
        update_l2(current_id-1);
    });
    $('#ctrlp1').click(function() {
        $('#btn-stop').trigger('click');
        update_l2(current_id+1);
    });
    $('#ctrlmt').click(function() {
        $('#btn-stop').trigger('click');
        update_l2(current_id-10);
    });
    $('#ctrlpt').click(function() {
        $('#btn-stop').trigger('click');
        update_l2(current_id+10);
    });

    function warn(jqxhr, text_status, error) {
        var err = text_status + ', ' + error;
        $('#status').text(err).attr('class', 'alert alert-warning');
    }

    function success() {
        $('#status').attr('class', 'alert alert-success').text('Connected');
    }

    var chart1 = bar_chart().height(100);
    var chart2 = bar_chart().height(100).xlabel('Position (cm)');

    function update_l2(id) {
        $.getJSON($SCRIPT_ROOT + '/query', {'name': 'l2_info', 'id': id}, function(reply) {
            info = reply.value;
            current_id = info.id;
            $('#id').text(info.id);
            $('#run').text(info.run);
            $('#gtid_first').text(info.gtid_first);
            $('#gtid_last').text(info.gtid_last);
            $('#entry_time').text(info.entry_time);
            $('#clock').text(info.clock);
            $('#events').text(info.events);
            $('#passed_events').text(info.passed_events);

            $.getJSON($SCRIPT_ROOT + '/query', {'name': 'nhit', 'id': id}, function(reply) {
                result = reply.value;
                d3.select('#nhit').datum(result).call(chart1);
            });

            $.getJSON($SCRIPT_ROOT + '/query', {'name': 'pos', 'id': id}, function(reply) {
                result = reply.value;
                d3.select('#pos').datum(result).call(chart2);
            });
        }).done(success).fail(warn);
    }

    update_l2();
    var intervalid = setInterval(update_l2,10000);

    $('#btn-stop').click(function() {
        clearInterval(intervalid);
        intervalid = null;
    });

    $('#btn-start').click(function() {
        if (intervalid == null)
            intervalid = setInterval(update_l2,1000);
    });
    </script>
{% endblock %}
</html>
