{% macro histogram_chart(container, url, name, interval=None, bins=None) -%}
    <script>
      (function(){
      var element = $('#{{ container }}'),
          width = element.width();
      var height = width/2.0;

      var selection = d3.select(element[0]);

      function update() {
      return $.getJSON($SCRIPT_ROOT + '{{ url }}',
                       { name: '{{ name }}' });
      }

      function on_done(result) {
      values = result.values;

      selection.datum(values);

	  var chart = histogramChart(update)
                      .width(width)
                      .height(height)
                      .tickFormat(d3.format(".2f"));

	  {% if bins %}
	    chart.bins({{ bins }});
          {% endif %}

          {% if interval %}
            chart.interval({{ interval }})
          {% endif %}

          selection.call(chart);
      }

      update().done(on_done);
      }());
    </script>
{%- endmacro %}
