<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Icon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/nubuddy_beta.png') }}">

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.css') }}" media="screen">

        <!-- jquery for $() pattern -->
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <!-- $SCRIPT_ROOT for app location -->
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        ALARM_AUDIO = '<audio autoplay loop> \
        <source src="{{ url_for('static', filename='audio/0096.ogg') }}", type="audio/ogg"> \
        <source src="{{ url_for('static', filename='audio/0096.mp3') }}", type="audio/mp3"> \
        <source src="{{ url_for('static', filename='audio/0096.wav') }}", type="audio/wav"> \
        </audio>'

            // global variable to keep track of the most recent alarm id
            var latest_alarm;

            // convert alarm level -> string
            var alarm_level_map = {0: 'success', 1: 'info', 2: 'warning', 3: 'error'};

            function update_toastr()
            {
                next = latest_alarm + 1;
                $.getJSON($SCRIPT_ROOT + '/get_alarm?start=' + next).done(function(obj) {
                    for (var i=0; i < obj.alarms.length; i++)
                    {
                        alarm = obj.alarms[i];

                        if (alarm.level == 3) {
                            alarm.message += ALARM_AUDIO;
                            toastr.options = {'timeOut': 0, 'extendedTimeOut': 0, 'closeButton': true};
                        } else {
                            toastr.options = {'timeOut': 20000};
                        }

                        toastr[alarm_level_map[alarm.level]](alarm.message);

                        // update latest_alarm id
                        latest_alarm = Math.max(latest_alarm,alarm.id);
                    }
                });

                setTimeout(update_toastr,1000);
            }

            $.getJSON($SCRIPT_ROOT + '/get_alarm?start=-1').done(function(obj) {
                latest_alarm = obj.alarms[0].id;
                update_toastr();
            });
        </script>
        {% block body %}
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">SNO+ Monitoring</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id='nav-status'><a href="{{ url_for('status') }}">Status</a></li>
                        <li id='nav-snostream'><a href="{{ url_for('snostream') }}">Stream</a></li>
                        <li id='nav-l2-home'><a href="{{ url_for('l2_filter') }}">L2 Filter</a></li>
                        <li id='nav-detector'><a href="{{ url_for('detector') }}">Detector</a></li>

                        <!-- Dropdown DAQ -->
                        <li class='dropdown'>
			<a href='#' class='dropdown-toggle' data-toggle='dropdown'>DAQ <b class='caret'></b></a>
                            <ul class='dropdown-menu'>
                                <li id='nav-cmos'>
                                    <a href="{{ url_for('channels',name='cmos') }}">CMOS Rates</a>
                                </li>
                                <li id='nav-base'>
                                    <a href="{{ url_for('channels',name='base') }}">Base Currents</a>
                                </li>
                            </ul>

                        <li id='nav-alarms'><a href="{{ url_for('alarms') }}">Alarms</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{ url_for('supervisor') }}">Supervisor</a></li>
                      <li><a href="{{ url_for('doc') }}">Docs</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
        {% endblock %}
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
