<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Icon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/nubuddy_beta.png') }}">

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/minard.css') }}" media="screen">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% macro nav_link(endpoint, name) -%}
            {% if request.endpoint.endswith(endpoint) %}
                <li class="active"><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
            {% else %}
                <li><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
            {% endif %}
        {%- endmacro %}
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">SNO+ Monitoring</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {{ nav_link('status', 'Status') }}
                        {{ nav_link('l2', 'L2') }}
                        {{ nav_link('snostream', 'Stream') }}
                        {{ nav_link('nhit', 'NHit') }}
                        {{ nav_link('detector', 'Detector') }}
                        {{ nav_link('daq', 'DAQ') }}
                        {{ nav_link('nearline', 'Nearline') }}
                        {{ nav_link('rathome', 'RAT') }}
                        {{ nav_link('trigger', 'Trigger Scans') }}
                        <!-- Dropdown PMTcal -->
                        <li class='dropdown'>
			<a href='#' class='dropdown-toggle' data-toggle='dropdown'>PMTcal <b class='caret'></b></a>
                            <ul class='dropdown-menu'>
                                {{ nav_link('eca', 'ECA') }}
                                {{ nav_link('pcatellie', 'PCA Tellie') }}
                            </ul>
                            <!-- Dropdown Data Quality -->
                            <li class='dropdown'>
                                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Data Quality <b class='caret'></b></a>
                                <ul class='dropdown-menu'>
                                    {{ nav_link('calibdq', 'Calibration Data Quality') }}
                                </ul>
                        {{ nav_link('alarms', 'Alarms') }}
                        {{ nav_link('state', 'Detector State') }}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('docs') }}">Docs</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
        {% endblock %}
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <!-- $SCRIPT_ROOT for app location -->
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        <script src="{{ url_for('static', filename='js/minard.js') }}"></script>
        <script src="{{ url_for('static', filename='js/toastr-alarms.js') }}"></script>

        {% block script %}{% endblock %}
    </body>
</html>
