<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Icon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/nubuddy_beta.png') }}">

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/minard.css') }}" media="screen">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% macro nav_link(endpoint, name) -%}
            {% if request.endpoint == endpoint %}
                <li class="active"><a href="{{ url_for(endpoint, **kwargs) }}">{{ name }}</a></li>
            {% else %}
                <li><a href="{{ url_for(endpoint, **kwargs) }}">{{ name }}</a></li>
            {% endif %}
        {%- endmacro %}
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">SNO+ Monitoring</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {{ nav_link('status', 'Status') }}
                        {{ nav_link('l2', 'L2') }}
                        {{ nav_link('snostream', 'Stream') }}
                        <!-- Dropdown Detector -->
                        <li class='dropdown'>
			<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Detector <b class='caret'></b></a>
                            <ul class='dropdown-menu'>
                                {{ nav_link('detector', 'Occupancy') }}
                                {{ nav_link('nhit', 'Nhit Distribution') }}
                                {{ nav_link('daq', 'CMOS Rates, Base Currents, and Occupancy') }}
                                {{ nav_link('nhit_monitor_thresholds', 'Nhit Monitor') }}
                                {{ nav_link('trigger', 'Trigger Scans') }}
                                {{ nav_link('state', 'Detector State', run=0) }}
                                {{ nav_link('detector_state_check', 'Detector State Check', run=0) }}
                                {{ nav_link('detector_state_diff', 'Detector State Diff') }}
                                {{ nav_link('check_rates', 'Check Rates') }}
                                <li><a href="logs">DAQ Logs</a></li>
                            </ul>
                        <!-- Dropdown Channel -->
                        <li class='dropdown'>
			<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Channel DB <b class='caret'></b></a>
                            <ul class='dropdown-menu'>
                                {{ nav_link('channel_database', 'Channel Database') }}
                                {{ nav_link('channel_status', 'Channel Status') }}
                                {{ nav_link('update_channel_status', 'Update Channel Status') }}
                                {{ nav_link('calculate_resistors', 'Calculate Resistors') }}
                                {{ nav_link('update_pmtic_resistors', 'Update PMTIC Resistors') }}
                                {{ nav_link('check_rates_history', 'Channel CMOS Rates') }}
                                {{ nav_link('discriminator_info', 'Discriminator Thresholds') }}
                            </ul>
                        {{ nav_link('nearline', 'Nearline') }}
                        {{ nav_link('rathome', 'RAT') }}
                        <!-- Dropdown PMTcal -->
                        <li class='dropdown'>
			<a href='#' class='dropdown-toggle' data-toggle='dropdown'>PMTcal <b class='caret'></b></a>
                            <ul class='dropdown-menu'>
                                {{ nav_link('eca', 'ECA') }}
                                {{ nav_link('pcatellie', 'PCA Tellie') }}
				{{ nav_link('noise', 'PMT Noise') }}
                            </ul>
                        <!-- Dropdown Data Quality -->
                        <li class='dropdown'>
                            <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Data Quality <b class='caret'></b></a>
                            <ul class='dropdown-menu'>
                                {{ nav_link('physicsdq', 'Physics Data Quality') }}
                                {{ nav_link('calibdq_tellie', 'TELLIE  DQ') }}
                                {{ nav_link('calibdq_smellie', 'SMELLIE DQ') }}
                                {{ nav_link('pingcrates', 'Ping Crates') }}  
                          </ul>
                        {{ nav_link('alarms', 'Alarms') }}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('docs') }}">Docs</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% endblock %}
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <!-- $SCRIPT_ROOT for app location -->
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        <script src="{{ url_for('static', filename='js/minard.js') }}"></script>
        <script src="{{ url_for('static', filename='js/toastr-alarms.js') }}"></script>

        {% block script %}{% endblock %}
    </body>
</html>
