{% extends "layout.html" %}
{% block title %}Max Discriminator Thresholds{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <div class="row">
        <h2> Channels with Maxed Thresholds For Run {{run_number}} </h2>
        <div class="col-md-6">
         <table class="table table-hover">
             <thead>
                 <tr> 
                     <th> Crate </th>
                     <th> Card </th>
                     <th> Channel </th>
                 </tr>
             </thead>
             {% for threshold in maxed %}
                 {% if threshold[2] %}
                     <tr>
                         <th> {{ threshold[0] }} </th>
                         <th> {{ threshold[1] }} </th>
                         <th> {{ threshold[2] }} </th>
                     </tr>
                 {% endif %}
             {% endfor %}
         </table>
        </div>
    </div>
</div>
{% endblock %}

