{% extends "layout.html" %}
{% block title %}Muon List{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
  <h2 align="left">Information For the User</h2>
    <table class="table table-hover">
      <tr> <th> The muon nearline processor find muons and missed muons by running the first pass of the two pass muon follower and the missed muon follower datacleaning processors. Muons are identified by their large NHit and high number of OWL hits. Missed muons are identified by looking for follower events after a 60NHit event. This table shows the number of each by run. For any run that is not a physics run rollover a fake muon is inserted at the beginning of the run due to the fact that we can't be certain that we didn't miss a muon right at the start of the run. We cut for 20s after a muon and 
      <tr class="success"> <th> There are a reasonable number of muons and missed muons </th> </tr>
      <tr class="danger"> <th> There are more than 20 muons or more than 1000 missed muons. This could indicate a breakdown or some issue with the muon finding algorithm. </th> </tr>
    </table>
  </table>
</div>


<div class="page-header">
  <h1 align="center">Muon List</h1>
</div>

<div class="container">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <th> Limit: </th>
        <th> Select Run: </th>
        <th> Run Range: </th>
        <th> </th>
      </tr>
      <tr>
        <th> <select id="limit" onchange="get_limit(this.value, 0, 0, 0, {{gold}});">
               {% if selected_run != 0 or run_range_high != 0 %}
                 <option selected value="-">-</option>
               {% else %}
                 <option selected value="{{limit}}">{{limit}}</option>
               {% endif %}
               {% for n in [10, 25, 50, 100, 500] %}
                 {% if n != limit %}
                   <option value="{{n}}">{{n}}</option>
                 {% endif %}
               {% endfor %}
             </select> </th>

        <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="run" value={{selected_run}} onKeyDown="if(event.keyCode==13) get_limit(0, this.value, 0, 0, {{gold}});"></input> </th>
        <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="low" value={{run_range_low}} onKeyDown="if(event.keyCode==13) get_limit(0, 0, this.value, high.value, {{gold}});"></input>
             - <input style="margin-bottom: 30px; width: 80px;" type="text" id="high" value={{run_range_high}} onKeyDown="if(event.keyCode==13) get_limit(0, 0, low.value, this.value, {{gold}});"></input> </th>
        {% if not gold %}
          <th> <button type="submit" class="btn btn-success" onclick="get_limit(limit.value, run.value, low.value, high.value, 1)">Show Only Gold Runs</button> </th>
        {% else %}
          <th> <button type="submit" class="btn btn-success" onclick="get_limit(limit.value, run.value, low.value, high.value, 0)">Show All Runs</button> </th>
        {% endif %}
      </tr>
    </table>

    <table class="table table-hover">
      <thead>
        <tr> 
          <th> Run Number </th>
          <th> Number of Muons </th>
          <th> Fake Muon Needed </th>
          <th> Number of Missed Muons </th>
        </tr>
      {% if mruns %}
        {% for mrun in mruns %}
          {% if (mgtids[mrun][0])|length > 20 or (mmgtids[mrun][0])|length > 1000 %}
            <tr class="danger">
          {% else %}
            <tr class="success">
          {% endif %}
            <th> <a href="{{ url_for("muons_by_run",run_number=mrun)}}">{{mrun}}</th>
            <th> {{mgtids[mrun][0]|length}} </th>
            {% if mgtids[mrun][0][0] == -1 %}
              <th> Yes </th>
            {% else %}
              <th> No </th>
            {% endif %}
            <th> {{mmgtids[mrun][0]|length}} </th>
          </tr>
        {% endfor %}
      {% else %}
        <th> No data found </th>
      {% endif %}
      </thead>
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    function get_limit(limit, run, low, high, gold){
      params = {};
      params["limit"] = limit;
      params["run"] = run;
      params["run_range_low"] = low;
      params["run_range_high"] = high;
      params["gold_runs"] = gold;
      window.location.replace($SCRIPT_ROOT + "/muon_list?" + $.param(params));
    }
  </script>
{% endblock %}
