{% extends "layout.html" %}
{% block title %}Muons By Run{% endblock %}
{% block head %}
  {{ super() }}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}
</style>
{% endblock %}
{% block body %}
  {{ super() }}

<div class="page-header">
  <h1 align="center">Muons and Missed Muons for Run {{run_number}} </h1>
</div>

<div class="container">
  <h4> Muons </h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> GTIDs </th>
        <th> Time </th>
      </tr>
    </thead>
    {% if muon_info %}
      {% for i in muon_info %}
        <tr>
          {% if i[0] == -1 %}
            <th> Fake </th>
          {% else %}
            <th> {{i[0]}} </th>
          {% endif %}
          <th> {{i[1]}} </th>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th> - </th>
        <th> None! </th>
      </tr> 
    {% endif %}
  </table>
  <h4> Missed Muons </h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> GTID </th>
        <th> Time </th>
      </tr>
    </thead>
    {% if mmuon_info %}
      {% for i in mmuon_info %}
        <tr>
          <th> {{i[0]}} </th>
          <th> {{i[1]}} </th>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th> - </th>
        <th> None! </th>
      </tr> 
    {% endif %}
  </table>
</div>
{% endblock %}
