{% extends "layout.html" %}
{% block title %}Nearline Failures{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> Select nearline jobs with the following conditions: </h3>
      <table class="table table-hover">
        <tr>
          <th> Job Name: </th>
          <th> Limit: </th>
          <th> Run Range: </th>
          <th> Run Type: </th>
        </tr>
        <tr> 

          <th> <select id="job" onchange="get_limit(limit.value, this.value, low.value, high.value, rtype.value);">
            <option selected value="{{jobs}}">{{jobs}}</option>
            {% for job_type in jobtypes %}
              {% if job_type != jobs %}
                <option value="{{job_type}}">{{job_type}}</option>
              {% endif %}
            {% endfor %}
          </select> </th>

          <th> <select id="limit" onchange="get_limit(this.value, job.value, 0, 0, rtype.value);">
            <option selected value="{{limit}}">{{limit}}</option>
            {% for n in [10, 25, 50, 100, 500] %}
              {% if n != limit %}
                <option value="{{n}}">{{n}}</option>
              {% endif %}
            {% endfor %}
            </select> </th>

           <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="low" value={{run_range_low}} onKeyDown="if(event.keyCode==13) get_limit(limit.value, job.value, this.value, high.value, rtype.value);"></input>
             - <input style="margin-bottom: 30px; width: 80px;" type="text" id="high" value={{run_range_high}} onKeyDown="if(event.keyCode==13) get_limit(limit.value, job.value, low.value, this.value, rtype.value);"></input> </th>

          <th> <select id="rtype" onchange="get_limit(limit.value, job.value, low.value, high.value, this.value);">
            <option selected value="{{runtype}}">{{selectedType}}</option>
            {% for i in runTypes %}
              {% if runTypes[i] != selectedType %}
                <option value="{{i}}">{{runTypes[i]}}</option>
              {% endif %}
            {% endfor %}
          </select> </th>
        </tr>
      </table>
    </div> 
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Run</th>
          <th>Log File</th>
        </tr>
      </thead>
      {% for run in failure_runs %}
        {% for program, status in failure_jobs[run] %}
          <tr>
            {% if jobs == "All" or jobs == program or (jobs == "Critical" and program in criticalJobs) %}
              {% if status|int == 1 %}
                <th class="danger"> Failed </th>
              {% elif status|int == 97 %}
                <th class="warning"> Timed out </th>
              {% elif status|int == 98 %}
                <th class="warning"> Not executable </th>
              {% elif status|int == -1 %}
                <th class="warning"> Killed by signal </th>
              {% elif status|int == 2 %}
                <th class="warning"> Warning </th>
              {% elif status|int == 3 %}
                <th class="info"> Debug </th>
              {% else %}
                <th class="warning"> Unknown </th>
              {% endif %}
              <th> {{ program }} </th>
              <th><a href="{{ url_for("nearline", run=run) }}">{{ run }}</a></th>
              <th> <a href="{{ "/monitoring/nearline/logs/%i/%s.log" % (run,program) }}">{{ program }}.log</a></th>
            {% endif %}
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  function get_limit(limit, jobs, low, high, rtype) {
    params = {};
    params["limit"] = limit;
    params["jobs"] = jobs;
    params["run_range_low"] = low;
    params["run_range_high"] = high;
    params["runtype"] = rtype;
    window.location.replace($SCRIPT_ROOT + "/nearline_failures?" + $.param(params));
  }
</script>
{% endblock %}
