{% extends "layout.html" %}
{% block title %}Nearline{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
                {% if warning %}
                   <h4> Warning: Nearline is on run {{warning[0]}}, but the current run is {{warning[1]}}. This could mean the nearline has fallen behind or gotten stuck. <h4>
                {% endif %}
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
		<center>
		    <ul class="pager">
			<li><h2 style="display:inline"> Current Nearline Run: {{ run }} </h2></li>
		    </ul>
		</center>
            </div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
                Nearline job failures in last
                <select id="limit" onchange="get_limit(this.value, {{ run }});">
                    <option value="{{limit}}">{{limit}}</option>
                    {% for n in [10, 25, 50, 100, 500] %}
                        {% if n != limit %}
                            <option value="{{n}}">{{n}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                runs
		<table class="table">
		   <thead>
			<tr>
			    <th>Status</th>
			    <th>Name</th>
                            <th>Run</th>
			</tr>
		    </thead>
                    {% if failures %}
		        {% for program, status, run in failures %}
			    {% if status|int == 1 %}
			    <th class="danger"> Failed </th>
                            {% elif status|int == 97 %}
                            <th class="warning"> Timed out </th>
                            {% elif status|int == 98 %}
                            <th class="warning"> Not executable </th>
                            {% elif status|int == -1 %}
                            <th class="warning"> Killed by signal </th>
			    {% else %}
			    <th class="warning"> Unknown </th>
			    {% endif %}
		            <th> {{ program }} </th>
                            <th> {{ run }} </th>
		        </tr>
		        {% endfor %}
                    {% endif %}
		</table>
	    </div>
	</div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function get_limit(limit) {
            params = {};
            params["limit"] = limit;
            window.location.replace($SCRIPT_ROOT + "/nearline_summary?" + $.param(params));
        }
    </script>
{% endblock %}
