{% extends "layout.html" %}
{% block title %}Nearline{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
		<center>
		    <ul class="pager">
			<li class="previous"><a href="{{ url_for('nearline', run=run-1) }}">Prev</a></li>
			<li><h2 style="display:inline"> Run {{ run }} </h2></li>
			<li class="next"><a href="{{ url_for('nearline', run=run+1) }}">Next</a></li>
		    </ul>
		</center>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
		<table class="table">
		    <thead>
			<tr>
			    <th>Status</th>
			    <th>Name</th>
			    <th>Log File</th>
			</tr>
		    </thead>
		    {% for program, status in programs.iteritems() %}
		    <tr>
			{% if status|int == 1 %}
			<th class="danger"> Failed </th>
			{% elif status|int == 0 %}
			<th class="success"> Success </th>
			{% elif status|int == 2 %}
			<th class="warning"> Warning </th>
			{% elif status|int == 3 %}
			<th> Debug </th>
			{% elif status|int == 4 %}
			<th> Not run </th>
                        {% elif status|int == 97 %}
                        <th class="warning"> Timed out </th>
                        {% elif status|int == 98 %}
                        <th class="warning"> Not executable </th>
                        {% elif status|int == -1 %}
                        <th class="warning"> Killed by signal </th>
			{% elif status|int == 99 %}
			<th> In Progress </th>
			{% else %}
			<th class="warning"> Unknown </th>
			{% endif %}
			<th> {{ program }} </th>
                        <th>
                            <a href="{{ "/monitoring/nearline/logs/%i/%s.log" % (run,program) }}">{{ program }}.log</a>
                        </th>
		    </tr>
		    {% endfor %}
		</table>
	    </div>
	</div>
    </div>
{% endblock %}
