{% extends "layout.html" %}
{% block title %}Nearline Monitoring Summary{% endblock %}
{% block head %}
  {{ super() }}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}
</style>
{% endblock %}
{% block body %}
  {{ super() }}

<div class="page-header">
  <h1 align="center">Nearline Monitoring Summary</h1>
</div>

<div class="container">
</div>

<div class="container">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr> <th> Ping crates checks whether the N100/N20 trigger signals are working properly for each crate. </th> </tr>
      <tr> <th> The clock jump check counts the number of bad clock ticks on the 10 and 50MHz clocks. </tr>
      <tr> <th> The channel flags check finds out-of-sync channels or channels dropping data.  </th> </tr>
      <tr> <th> The occupancy check finds offline slots or crates missing ESUMH trigger signals. </th> </tr>
      <tr> <th> The muon check determines if a reasonable number of muons were flagged in the run. </th> </tr>
    </table>
  </div>
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <th> Limit: </th>
        <th> Select Run: </th>
        <th> Run Range: </th>
        <th> </th>
      </tr>
      <tr>
        <th> <select id="limit" onchange="get_limit(this.value, 0, 0, 0, {{gold}});">
               {% if selected_run != 0 or run_range_high != 0 %}
                 <option selected value="-">-</option>
               {% else %}
                 <option selected value="{{limit}}">{{limit}}</option>
               {% endif %}
               {% for n in [10, 25, 50, 100, 500] %}
                 {% if n != limit %}
                   <option value="{{n}}">{{n}}</option>
                 {% endif %}
               {% endfor %}
             </select> </th>

        <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="run" value={{selected_run}} onKeyDown="if(event.keyCode==13) get_limit(0, this.value, 0, 0, {{gold}});"></input> </th>
        <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="low" value={{run_range_low}} onKeyDown="if(event.keyCode==13) get_limit(0, 0, this.value, high.value, {{gold}});"></input>
             - <input style="margin-bottom: 30px; width: 80px;" type="text" id="high" value={{run_range_high}} onKeyDown="if(event.keyCode==13) get_limit(0, 0, low.value, this.value, {{gold}});"></input> </th>
        {% if not gold %}
          <th> <button type="submit" class="btn btn-success" onclick="get_limit(limit.value, run.value, low.value, high.value, 1)">Show Only Gold Runs</button> </th>
        {% else %}
          <th> <button type="submit" class="btn btn-success" onclick="get_limit(limit.value, run.value, low.value, high.value, 0)">Show All Runs</button> </th>
        {% endif %}
      </tr>
    </table>

    <table class="table table-hover">
      <thead>
        <tr> 
          <th> Run </th>
          <th> Run Type </th>
          <th> <a href="{{url_for('pingcrates')}}">Ping Crates</a> </th>
          <th> <a href="{{url_for('trigger_clock_jump')}}">Clock Jumps</a> </th>
          <th> <a href="{{url_for('channelflags')}}">Channel Flags</a> </th>
          <th> <a href="{{url_for('occupancy_by_trigger')}}">Occupancy</a> </th>
          <th> <a href="{{url_for('muon_list')}}">Muons</a></th>
        </tr>
      </thead>
      {% for run in runs %}
        <tr>
          <th> <a href="{{url_for('nearline',run=run)}}">{{run}}</a> </th>
          <th> {{runTypes[run]}} </th>
          {% if ping_crates[run] == 1 %}
            <th class="danger"><a href="{{ url_for("pingcrates_run", run_number=run) }}">Fail</a></th>
          {% elif ping_crates[run] == 2 %}
            <th class="warning"><a href="{{ url_for("pingcrates_run", run_number=run) }}">Notice</a></th>
          {% elif ping_crates[run] == 0 %}
            <th class="success"><a href="{{ url_for("pingcrates_run", run_number=run) }}">Pass</a></th>
          {% else %}
            <th class="info">Not Run</th> 
          {% endif %}

          {% if clock_jumps[run] == 1 %}
            <th class="danger"><a href="{{ url_for("trigger_clock_jump_run", run_number=run) }}">Fail</a></th>
          {% elif clock_jumps[run] == 2 %}
            <th class="warning"><a href="{{ url_for("trigger_clock_jump_run", run_number=run) }}">Notice</a></th>
          {% elif clock_jumps[run] == 0 %}
            <th class="success"><a href="{{ url_for("trigger_clock_jump_run", run_number=run) }}">Pass</a></th>
          {% else %}
            <th class="info">Not Run</th> 
          {% endif %}

          {% if channel_flags[run] == 1 %}
            <th class="danger"><a href="{{ url_for("channelflagsbychannel", run_number=run) }}">Fail</a></th>
          {% elif channel_flags[run] == 2 %}
            <th class="warning"><a href="{{ url_for("channelflagsbychannel", run_number=run) }}">Notice</a></th>
          {% elif channel_flags[run] == 0 %}
            <th class="success"><a href="{{ url_for("channelflagsbychannel", run_number=run) }}">Pass</a></th>
          {% else %}
            <th class="info">Not Run </th>
          {% endif %}

          {% if occupancy[run] == 1 %}
            <th class="danger"><a href="{{ url_for("occupancy_by_trigger_run", run_number=run) }}">Fail</a></th>
          {% elif occupancy[run] == 0 %}
            <th class="success"><a href="{{ url_for("occupancy_by_trigger_run", run_number=run) }}">Pass</a></th>
          {% else %}
            <th class="info">Not Run</th> 
          {% endif %}

          {% if muons[run] == 1 %}
            <th class="danger"><a href="{{ url_for("muons_by_run", run_number=run) }}">Fail</a></th>
          {% elif muons[run] == 0 %}
            <th class="success"><a href="{{ url_for("muons_by_run", run_number=run) }}">Pass</a></th>
          {% else %}
            <th class="info">Not Run</th> 
          {% endif %}
        <tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    function get_limit(limit, run, low, high, gold){
      params = {};
      params["limit"] = limit;
      params["run"] = run;
      params["run_range_low"] = low;
      params["run_range_high"] = high;
      params["gold_runs"] = gold;
      window.location.replace($SCRIPT_ROOT + "/nearline_monitoring_summary?" + $.param(params));
    }
  </script>
{% endblock %}

