{% extends "layout.html" %}
{% block title %}NHit{% endblock %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/bar-chart.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>
{% endblock %}
{% block body %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col-md-12" id="test1">
        <h2>NHit (60 seconds)</h2>
      </div>
    </div>
  </div>

  <script>
    var chart = histogram().xlabel('NHit').margin({'left': 50}).bins(100);

    function add_chart(selector, start, interval) {
      function update_chart(reply) {
        d3.select(selector).datum(reply.value).call(chart);
      }
      function get_json() {
        $.getJSON($SCRIPT_ROOT + '/query', {'name': 'nhit', 'start': (new Date(Date.now()-1000*start)).toISOString()}, function(reply) {
          update_chart(reply); });
      }
      get_json();
      setInterval(get_json,interval*1000);
    }
  add_chart('#test1',60,10);
  </script>
{% endblock %}
