{% extends "layout.html" %}
{% block title %}Nhit Monitor{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
	{% if error %}
	<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Error: {{ error }}
	</div>
	{% else %}
	<div class="row">
	    <div class="col-md-12" id='trigger-threshold'></div>
        </div>
	<div class="row">
	    <div class="col-md-12" id='trigger-efficiency-width'></div>
        </div>
	<div class="row">
	    <div class="col-md-12">
		<table class="table">
		    <thead>
			<tr>
			    <th></th>
			    <th></th>
			    <th></th>
			    <th></th>
			    <th></th>
			    <th colspan="5">Threshold</th>
			    <th colspan="5">Width</th>
			</tr>
			<tr>
			    <th>Key</th>
			    <th>Timestamp</th>
			    <th>Crate</th>
			    <th>Number of Pulses</th>
			    <th>Pulser Rate (Hz)</th>
			    <th>100L</th>
			    <th>100M</th>
			    <th>100H</th>
			    <th>20</th>
			    <th>20L</th>
			    <th>100L</th>
			    <th>100M</th>
			    <th>100H</th>
			    <th>20</th>
			    <th>20L</th>
			</tr>
		    </thead>
		    {% for row in results %}
		    <tr>
			<td><a href="{{ url_for('nhit_monitor', key=row['key']) }}">{{ row['key'] }}</a></td>
			<td>{{ row['timestamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
			<td>{{ row['crate'] }}</td>
			<td>{{ row['num_pulses'] }}</td>
			<td>{{ row['pulser_rate'] }}</td>
                        <td>
			{% if row['nhit_100_lo'] is not none %}
			    {{ '%.2f' % row['nhit_100_lo'] }}
			{% else %}
			    > {{ row['max_nhit'] }}
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_100_med'] is not none %}
			    {{ '%.2f' % row['nhit_100_med'] }}
			{% else %}
			    > {{ row['max_nhit'] }}
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_100_hi'] is not none %}
			    {{ '%.2f' % row['nhit_100_hi'] }}
			{% else %}
			    > {{ row['max_nhit'] }}
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_20'] is not none %}
			    {{ '%.2f' % row['nhit_20'] }}
			{% else %}
			    > {{ row['max_nhit'] }}
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_20_lb'] is not none %}
			    {{ '%.2f' % row['nhit_20_lb'] }}
			{% else %}
			    > {{ row['max_nhit'] }}
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_100_lo_width'] is not none %}
			    {{ '%.2f' % row['nhit_100_lo_width'] }}
			{% else %}
                            -
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_100_med_width'] is not none %}
			    {{ '%.2f' % row['nhit_100_med_width'] }}
			{% else %}
                            -
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_100_hi_width'] is not none %}
			    {{ '%.2f' % row['nhit_100_hi_width'] }}
			{% else %}
                            -
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_20_width'] is not none %}
			    {{ '%.2f' % row['nhit_20_width'] }}
			{% else %}
                            -
			{% endif %}
                        </td>
                        <td>
			{% if row['nhit_20_lb_width'] is not none %}
			    {{ '%.2f' % row['nhit_20_lb_width'] }}
			{% else %}
                            -
			{% endif %}
                        </td>
		    </tr>
		    {% endfor %}
		</table>
                <p class="text-right">
                    {% if offset > 0 %}
                    <a href="{{ url_for("nhit_monitor_thresholds", limit=limit, offset=offset-limit) }}">Back</a>
                    {% endif %}
                    <a href="{{ url_for("nhit_monitor_thresholds", limit=limit, offset=offset+limit) }}">Next</a>
                </p>
	    </div>
	</div>
	{% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script>
        var results = {{ results | tojson }};

        var nhit_100_lo_threshold = new Array();
        var nhit_100_med_threshold = new Array();
        var nhit_100_hi_threshold = new Array();
        var nhit_20_threshold = new Array();
        var nhit_20_lb_threshold = new Array();

        var nhit_100_lo_width = new Array();
        var nhit_100_med_width = new Array();
        var nhit_100_hi_width = new Array();
        var nhit_20_width = new Array();
        var nhit_20_lb_width = new Array();
        for (var i=0; i < results.length; i++) {
            //var date = moment(results[i]['timestamp']);
            var date = new Date(results[i]['timestamp']);
            nhit_100_lo_threshold.push({'date': date, 'value': results[i]['nhit_100_lo']});
            nhit_100_med_threshold.push({'date': date, 'value': results[i]['nhit_100_med']});
            nhit_100_hi_threshold.push({'date': date, 'value': results[i]['nhit_100_hi']});
            nhit_20_lb_threshold.push({'date': date, 'value': results[i]['nhit_20_lb']});
            nhit_20_threshold.push({'date': date, 'value': results[i]['nhit_20']});

            nhit_100_lo_width.push({'date': date, 'value': results[i]['nhit_100_lo_width']});
            nhit_100_med_width.push({'date': date, 'value': results[i]['nhit_100_med_width']});
            nhit_100_hi_width.push({'date': date, 'value': results[i]['nhit_100_hi_width']});
            nhit_20_lb_width.push({'date': date, 'value': results[i]['nhit_20_lb_width']});
            nhit_20_width.push({'date': date, 'value': results[i]['nhit_20_width']});
        }

        MG.data_graphic({
            title: "Trigger Thresholds",
            description: "Trigger thresholds as a function of time",
            data: [nhit_100_lo_threshold, nhit_100_med_threshold, nhit_100_hi_threshold, nhit_20_lb_threshold, nhit_20_threshold],
            //chart_type: 'point',
            width: $('#trigger-threshold').width(),
            height: 250,
            left: 100,
            right: 100,
            target: '#trigger-threshold',
            x_accessor: 'date',
            y_accessor: 'value',
            x_label: 'Date',
            y_label: 'Trigger threshold (nhit)',
            legend: ['N100L', 'N100M', 'N100H', 'N20L', 'N20'],
            interpolate: 'linear'
        });

        MG.data_graphic({
            title: "Trigger Efficiency Width",
            description: "Trigger efficiency width as a function of time",
            data: [nhit_100_lo_width, nhit_100_med_width, nhit_100_hi_width, nhit_20_lb_width, nhit_20_width],
            //chart_type: 'point',
            width: $('#trigger-efficiency-width').width(),
            height: 250,
            left: 100,
            right: 100,
            target: '#trigger-efficiency-width',
            x_accessor: 'date',
            y_accessor: 'value',
            x_label: 'Date',
            y_label: 'Trigger efficiency width',
            legend: ['N100L', 'N100M', 'N100H', 'N20L', 'N20'],
            interpolate: 'linear'
        });
    </script>
{% endblock %}
