{% extends "layout.html" %}
{% block title %}NHit{% endblock %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/bar-chart.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col-md-12" id="nhit">
            <h2>NHit (60 seconds)</h2>
        </div>
    </div>
</div>

<script>
    var chart = histogram().xlabel('NHit').margin({'left': 50}).bins(100);

    function update_chart()
    {
        var start = (new Date(Date.now()-1000*60)).toISOString();
        $.getJSON($SCRIPT_ROOT + '/query', {'name': 'nhit', 'start': start}, function(reply) {
            d3.select('#nhit').datum(reply.value).call(chart);
        });
        setTimeout(function() { update_chart(); }, 10000);
    }

    update_chart();

    $("#nav-nhit").attr("class","active");
</script>
{% endblock %}
