{% extends "layout.html" %}
{% block title %}Occupancy By Trigger{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">

  <h2 align="left">Information For the User</h2>
    <table class="table table-hover">
      <tr> <th> The trigger occupancy processor looks at the occupancy of ESUMH triggered events and checks the occupancy of each slot to make sure its not too low. Low occupancy slots are most often caused by either a loss of high voltage (relays trip open) or the ESUMH trigger not working. For shorter runs it is possible to get false failures, so look for trends across runs. Clicking the run number will display the ESUMH, N100L, and N20LB occupancy for the run. The processor only runs on physics runs longer than 30 minutes long.
      <tr class="success"> <th> The occupancy of ESUMH triggered events is not low in any slot in the detector. </th> </tr>
      <tr class="danger"> <th>  The occupancy of ESUMH triggered events for one or more slots in the detector is low.  </th> </tr>
  </table>

</div>


<div class="page-header">
  <h1 align="center">Occupancy By Trigger</h1>
</div>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
      <tr>
        <th> Limit: </th>
        <th> Select Run: </th>
        <th> Run Range: </th>
      </tr>
      <tr>
        <th> <select id="limit" onchange="get_limit(this.value, 0, 0, 0, 0);">
               {% if selected_run != 0 or run_range_high != 0 %}
                 <option selected value="-">-</option>
               {% else %}
                 <option selected value="{{limit}}">{{limit}}</option>
               {% endif %}
               {% for n in [10, 25, 50, 100, 500] %}
                 {% if n != limit %}
                   <option value="{{n}}">{{n}}</option>
                 {% endif %}
               {% endfor %}
             </select> </th>

        <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="run" value={{selected_run}} onKeyDown="if(event.keyCode==13) get_limit(0, this.value, 0, 0, 0);"></input> </th>
        <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="low" value={{run_range_low}} onKeyDown="if(event.keyCode==13) get_limit(0, 0, this.value, high.value, 0);"></input>
             - <input style="margin-bottom: 30px; width: 80px;" type="text" id="high" value={{run_range_high}} onKeyDown="if(event.keyCode==13) get_limit(0, 0, low.value, this.value, 0);"></input> </th>
        {% if not gold %}
          <th> <button type="submit" class="btn btn-success" onclick="get_limit(limit.value, run.value, low.value, high.value, 1)">Show Only Gold Runs</button> </th>
        {% else %}
          <th> <button type="submit" class="btn btn-success" onclick="get_limit(limit.value, run.value, low.value, high.value, 0)">Show All Runs</button> </th>
        {% endif %}
      </tr>
    </table>

    <table class="table table-hover">
      <thead>
        <tr> 
          <th> Run </th>
          <th> Crate </th>
          <th> Slots </th>
        </tr>
      </thead>
      <thead>
      {% for run in runs %}
        {% if status[run] != -1 %}
          {% if status[run] == 1 %}
            <tr class="danger">
          {% elif status[run] == 0 %}
            <tr class="success"> 
          {% endif %}
          <th><a href="{{url_for('occupancy_by_trigger_run',run_number=run) }}">{{run}}</a></th>
          <th> {{crates[run]}} </th>
          {% if slots[(run, -1)] %}
             <th> {{slots[(run, -1)]}} </th>
          {% else %}
            <th>
              {% for i in range(19) %} 
                {% if slots[(run, i)] %}
                  {{slots[(run, i)]}}
                {% endif %}
              {% endfor %}
            </th>
          {% endif %}
        {% else %}
            <th> No data found </th>
        {% endif %}
        </tr>
      {% endfor %}
      </thead>
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    function get_limit(limit, run, low, high, gold){
      params = {};
      params["limit"] = limit;
      params["run"] = run;
      params["run_range_low"] = low;
      params["run_range_high"] = high;
      params["gold_runs"] = gold;
      window.location.replace($SCRIPT_ROOT + "/occupancy_by_trigger?" + $.param(params));
    }
  </script>
{% endblock %}

