{% extends "layout.html" %}
{% block title %}Occupancy By Trigger Run{% endblock %}
{% block head %}
  {{ super() }}
<style>
.panel-default-test {
    border-color: #D0D0D0;
}
</style>
{% endblock %}
{% block body %}
  {{ super() }}

<div class="page-header">
  <h1 align="center">Occupancy by Trigger for Run {{run_number}} </h1>
</div>

<div class="container">

    <div class="panel-group">
        <div class="panel panel-default-test">
            <div class="panel-heading">
                <h3 class="panel-title" align="center">
                    <a data-toggle="collapse" data-parent="accordion" href="#collapseesum">
                        ESUMH
                    </a>
                </h3>
                <div id="collapseesum" class="panel-collapse collapse in">
                    <div class="panel-body" id="crateZ" align="center"> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default-test">
            <div class="panel-heading">
                <h3 class="panel-title" align="center">
                    <a data-toggle="collapse" data-parent="accordion" href="#collapsen100l">
                        N100L
                    </a>
                </h3>
                <div id="collapsen100l" class="panel-collapse collapse in">
                    <div class="panel-body" id="crateX" align="center"> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default-test">
            <div class="panel-heading">
                <h3 class="panel-title" align="center">
                    <a data-toggle="collapse" data-parent="accordion" href="#collapsen20lb">
                        N20LB
                    </a>
                </h3>
                <div id="collapsen20lb" class="panel-collapse collapse in">
                    <div class="panel-body" id="crateY" align="center"> </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/colorbrewer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/crate.js') }}"></script>
  <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
  <script src="{{ url_for('static', filename='js/trigger_occupancy.js') }}"></script>
  <script> 
      setup({{run_number}}); 
  </script>
{% endblock %}

