{% extends "layout.html" %}
{% block title %}Orca Session Log{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
	{% if error %}
	<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Error: {{ error }}
	</div>
	{% else %}
	<div class="row">
	    <div class="col-md-12">
		<table class="table">
		    <thead>
			<tr>
			    <th>Timestamp</th>
			    <th>End Timestamp</th>
			    <th>IP Address</th>
			    <th>Orca Version</th>
			    <th>Hostname</th>
			    <th>OSX Version</th>
			</tr>
		    </thead>
		    {% for row in results %}
                        {% if row['end_timestamp'] is none %}
                            {% if offset == 0 and loop.index == 1 %}
                                <tr class="success">
                            {% else %}
                                <tr class="warning">
                            {% endif %}
                        {% else %}
                            <tr>
                        {% endif %}
			<td>{{ row['timestamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
			{% if row['end_timestamp'] is not none %}
			    <td>{{ row['end_timestamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                        {% else %}
                            {% if offset == 0 and loop.index == 1 %}
                                <td>Running</td>
                            {% else %}
			        <td>Unknown</td>
                            {% endif %}
                        {% endif %}
			{% if row['ip_addr'] is not none %}
			    <td>{{ row['ip_addr'] }}</td>
                        {% else %}
			    <td>Unknown</td>
                        {% endif %}
			{% if row['orca_version'] is not none %}
			    <td>{{ row['orca_version'] }}</td>
                        {% else %}
			    <td>Unknown</td>
                        {% endif %}
			{% if row['hostname'] is not none %}
			    <td>{{ row['hostname'] }}</td>
                        {% else %}
			    <td>Unknown</td>
                        {% endif %}
			{% if row['osx_version'] is not none %}
			    <td>{{ row['osx_version'] }}</td>
                        {% else %}
			    <td>Unknown</td>
                        {% endif %}
		    </tr>
		    {% endfor %}
		</table>
                <p class="text-right">
                {% if offset > 0 %}
                    <a href="{{ url_for("orca_session_logs", limit=limit, offset=offset-limit) }}">Back</a>
                {% endif %}
                <a href="{{ url_for("orca_session_logs", limit=limit, offset=offset+limit) }}">Next</a>
	    </div>
	</div>
	{% endif %}
    </div>
{% endblock %}
{% block script %}
{% endblock %}
