{% extends "layout.html" %}
{% block title %}PCA Run Detail{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pca.css') }}" media="screen">
{% endblock %}
{% block body %}
{{ super() }}




<div class="container">
<h2>Run {{ run_number }} details</h2>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Test</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Overall failure</td>
        <td>{{ run[0]["pca_status"] }}</td>
      </tr>
      <tr>
        <td>Occupancy too high</td>
        <td>{{ run[0]["flag_av_occ"] }}</td>
      </tr>
      <tr>
        <td>Average number of hits/PMT too low</td>
        <td>{{ run[0]["flag_av_hit"] }}</td>
      </tr>
      <tr>
        <td>Number of EXTA events too low</td>
        <td>{{ run[0]["flag_nevents"] }}</td>
      </tr>
      <tr>
        <td>Nhit spread too high</td>
        <td>{{ run[0]["flag_nhit_spread"] }}</td>
      </tr>
      <tr>
        <td>Nhit changes with event number</td>
        <td>{{ run[0]["flag_nhit_walk"] }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nhit(EXTA) / Occupancy</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/NHits-" + run_number + ".png") }}"
            alt="NHit histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/OccPerPMT-" + run_number + ".png") }}"
            alt="Occupancy histogram" class="img-responsive col-md-6">
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Coverage: All / Central</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/coverage-" + run_number + ".png") }}"
            alt="Coverage graph" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/coverageselect-" + run_number + ".png") }}"
            alt="Central coverage graph" class="img-responsive col-md-6">
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Hits per PMT: All / Central</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/HitsPerPMTAll-" + run_number + ".png") }}"
            alt="Hits per PMT histogram" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/HitsPerPMT-" + run_number + ".png") }}"
            alt="Central hits per PMT histogram" class="img-responsive col-md-6">
        </div>
    </div>
</div>



<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QHS: uncal / cal</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/QHSUnCal-" + run_number + ".png") }}"
            alt="QHS Uncalibrated" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/QHSCal-" + run_number + ".png") }}"
            alt="QHS ECA calibrated" class="img-responsive col-md-6">
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QHL: uncal / cal</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/QHLUnCal-" + run_number + ".png") }}"
            alt="QHL Uncalibrated" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/QHLCal-" + run_number + ".png") }}"
            alt="QHL ECA calibrated" class="img-responsive col-md-6">
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Time: uncal / cal / residual</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/TimeUnCal-" + run_number + ".png") }}"
            alt="Time Uncalibrated" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/TimeCal-" + run_number + ".png") }}"
            alt="Time ECA calibrated" class="img-responsive col-md-6">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/TimeResidual-" + run_number + ".png") }}"
            alt="Time ECA calibrated" class="img-responsive col-md-6">

        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">NHit vs. event number</h3>
        </div>
        <div class="panel-body">
            <img src="{{ url_for('static', filename="pca/" + run_number + "/NHitvsEvent-" + run_number + ".png") }}"
            alt="NHit vs. event number" class="img-responsive col-md-6">
        </div>
    </div>
</div>

</div>

{% endblock %}
