{% extends "layout.html" %}
{% block title %}PCA TELLIE{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pca.css') }}" media="screen">
{% endblock %}
{% block body %}
{{ super() }}

{% macro fiber_cell(fiber, query_good_runs) -%}
    {% if fiber["is_dead"] %}
        <div class="pca-fiber-dead pca-fiber-cell">
        <div> {{ fiber["fiber_number"] }} </div>
    {% elif not fiber["is_installed"] %}
        <div class="pca-fiber-vacant pca-fiber-cell">
        <div> {{ fiber["fiber_number"] }} </div>
    {% elif query_good_runs %}
        {% if fiber["pca_run_good"]%}
            <div class="pca-fiber-success pca-fiber-cell">
            <div> {{ fiber["fiber_number"] }} </div>
            <div><a href="{{ url_for('pca_run_detail',run_number=fiber["pca_run_good"]) }}">{{ fiber["pca_run_good"] }}</a></div>
        {% else %}
            <div class="pca-fiber-installed pca-fiber-cell">
            <div> {{ fiber["fiber_number"] }} </div>
        {% endif %}
    {% elif fiber["pca_run"]%}
        {% if (fiber["pca_result"] == "1") %}
            <div class="pca-fiber-fail pca-fiber-cell">
        {% else %}
            <div class="pca-fiber-success pca-fiber-cell">
        {% endif %}
        <div> {{ fiber["fiber_number"] }} </div>
        <div><a href="{{ url_for('pca_run_detail',run_number=fiber["pca_run"]) }}">{{ fiber["pca_run"] }}</a></div>
    {% else %}
        <div class="pca-fiber-installed pca-fiber-cell">
        <div> {{ fiber["fiber_number"] }} </div>
    {% endif %}
        </div>
{%- endmacro %}

    <div class="container">
        <h2>PCA TELLIE Status </h2>

        <div class="row">
            <div class="panel panel-default pull-left">
                <div class="panel-heading">
                    <h3 class="panel-title">Filters</h3>
                </div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form"
                     id="filter_controls">
                    <div class="form-group">
                        <label for="start_run" class="col-md-4 control-label">
                            Start Run
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                             name="start_run"
                             id="start_run" placeholder="Run number"
                             {{ 'value=%s' % (start_run) if
                                 start_run > 0 else "" }}>
                        </div>
                    </div>
                    </form>

                </div>
            </div>


            <div class="panel panel-default pull-right">
                <div class="panel-heading">
                    <h3 class="panel-title">Fiber status legend</h3>
                </div>
                <div class="panel-body">
                    <div class="pca-fiber-cell pca-fiber-installed">
                        No data
                    </div>
                    <div class="pca-fiber-cell pca-fiber-fail">
                        Fail
                    </div>
                    <div class="pca-fiber-cell pca-fiber-success">
                        Success
                    </div>
                </div>
            </div>

        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#fibers_allruns">All Runs</a></li>
          <li><a data-toggle="tab" href="#fibers_goodruns">Good Runs</a></li>
        </ul>

        <div class="tab-content">
        <div id="fibers_allruns" class="tab-pane in active">
        {% for fiber_type in ["BULK", "NECK"] %}
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ fiber_type.capitalize() }} fibers</h3>
              </div>
              <div class="panel-body">
                {% for fiber in fibers if fiber["fiber_type"] == fiber_type and not ( installed_only and not fiber["is_installed"]) %}
                    {{ fiber_cell(fiber, False) }}
                {% endfor %}
              </div>
            </div>
        </div>
        {% endfor %}
        </div>

        {% for fiber_type in ["BULK", "NECK"] %}
        <div id="fibers_goodruns" class="tab-pane in">
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ fiber_type.capitalize() }} fibers</h3>
              </div>
              <div class="panel-body">
                {% for fiber in fibers if fiber["fiber_type"] == fiber_type and not ( installed_only and not fiber["is_installed"]) %}
                    {{ fiber_cell(fiber, True) }}
                {% endfor %}
              </div>
            </div>
        </div>
        {% endfor %}
        </div>

        </div>

        <h3>Details</h3>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Run Number</th>
                    <th>Run Time</th>
                    <th>Ana Time</th>
                    <th>Chan.</th>
                    <th>Fiber</th>
                    <th># EXTA events</th>
                    <th>NHit(EXTA)</th>
                    <th>hit/PMT(central)</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for run in runs %}
                <tr class="{{ boolclass(run["pca_status"]) }}">
                    <td><a href="{{ url_for('pca_run_detail',run_number=run["run_number"]) }}">{{ run["run_number"] }}</a></td>
                    <td>{{ run["run_time"]|timefmt }}</td>
                    <td>{{ run["analyze_time"]|timefmt }}</td>
                    <td>{{ run["channel"] }}</td>
                    <td>{{ run["fiber_number"] }}</td>
                    <td>{{ run["number_events"]|int }}</td>
                    <td>{{ '%.2f' % run["nhit"]|float }}</td>
                    <td>{{ '%.2f' % run["av_hit"]|float }}</td>
                    <td>{{  boolfmt(run["pca_status"]) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
