{% extends "layout.html" %}
{% block title %}Physics Data Quality for run {{run_number}} {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    <h1>Physics Data Quality for run {{run_number}} </h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Time Processor</h2>
        </div>

        <div class="panel panel-body">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>Check Results</h3>
                </div>

                <div class="panel panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Check Name</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Event rate check   
                                </td>
                                {% if ratdb_dict["checks"]["dqtimeproc"]["event_rate"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    GT falling within another event window check   
                                </td>
                                {% if ratdb_dict["checks"]["dqtimeproc"]["event_separation"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    Retrigger check   
                                </td>
                                {% if ratdb_dict["checks"]["dqtimeproc"]["retriggers"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    First event time check   
                                </td>
                                {% if ratdb_dict["checks"]["dqtimeproc"]["run_header"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    10 Mhz universal time comparison   
                                </td>
                                {% if ratdb_dict["checks"]["dqtimeproc"]["10Mhz_UT_comparrison"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    Event order check 
                                </td>
                                {% if ratdb_dict["checks"]["dqtimeproc"]["clock_forward"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    Event Separation Clock UT comparison check
                                </td>
                                {% if ratdb_dict["checks"]["dqtimeproc"]["delta_t_comparison"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Check Parameters</h3>
                </div>
                <div class="panel panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Number of Events failing universal time and 10 MHz clock comparison
                                </td>
                                <td>
                                    {{ratdb_dict["checks"]["dqtimeproc"]["check_params"]["num_UT_10MhzClock_comp_fails"]}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Average Event rate calculated from time seperation of Events
                                </td>
                                <td>
                                    {{ratdb_dict["checks"]["dqtimeproc"]["check_params"]["delta_t_event_rate"]}} Hz
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Event rate calculated from run time and number of events 
                                </td>
                                <td>
                                    {{ratdb_dict["checks"]["dqtimeproc"]["check_params"]["mean_event_rate"]}} Hz
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Plots</h3>
                </div>
                <div class="panel panel-body">
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Run Processor</h2>
        </div>

        <div class="panel panel-body">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>Check Results</h3>
                </div>

                <div class="panel panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Check Name</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Physics run check 
                                </td>
                                {% if ratdb_dict["checks"]["dqrunproc"]["run_type"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    Monte Carlo check 
                                </td>
                                {% if ratdb_dict["checks"]["dqrunproc"]["mc_flag"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    Run length check 
                                </td>
                                {% if ratdb_dict["checks"]["dqrunproc"]["run_length"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    Trigger mask check 
                                </td>
                                {% if ratdb_dict["checks"]["dqrunproc"]["trigger"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Check Parameters</h3>
                </div>
                <div class="panel panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                   Mean NHit 
                                </td>
                                <td>
                                    {{ratdb_dict["checks"]["dqrunproc"]["check_params"]["mean_nhit"]}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Run length (Universal Time)
                                </td>
                                <td>
                                    {{ratdb_dict["checks"]["dqrunproc"]["check_params"]["universal_time_run_length"]}} s
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Run length (50 MHz Clock)
                                </td>
                                <td>
                                    {{ratdb_dict["checks"]["dqrunproc"]["check_params"]["count_50_run_length"]}} s
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Run length (10 MHz Clock)
                                </td>
                                <td>
                                    {{ratdb_dict["checks"]["dqrunproc"]["check_params"]["count_10_run_length"]}} s
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Plots</h3>
                </div>
                <div class="panel panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Trigger Processor</h2>
        </div>

        <div class="panel panel-body">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>Check Results</h3>
                </div>

                <div class="panel panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Check Name</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    N100L trigger rate check
                                </td>
                                {% if ratdb_dict["checks"]["dqtriggerproc"]["n100l_trigger_rate"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    ESUMH trigger rate check
                                </td>
                                {% if ratdb_dict["checks"]["dqtriggerproc"]["esumh_trigger_rate"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Check Parameters</h3>
                </div>
                <div class="panel panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Plots</h3>
                </div>
                <div class="panel panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>PMT Processor</h2>
        </div>

        <div class="panel panel-body">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>Check Results</h3>
                </div>

                <div class="panel panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Check Name</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Overall PMT coverage check
                                </td>
                                {% if ratdb_dict["checks"]["dqpmtproc"]["general_coverage"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    Electronics space coverage check
                                </td>
                                {% if ratdb_dict["checks"]["dqpmtproc"]["panel_coverage"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>
                                    Panel coverage check
                                </td>
                                {% if ratdb_dict["checks"]["dqpmtproc"]["crate_coverage"] == 1 %}
                                <td>Pass</td>
                                {% else %}
                                <td><font color="red">Fail</font></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Check Parameters</h3>
                </div>
                <div class="panel panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Plots</h3>
                </div>
                <div class="panel panel-body">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
