{% extends "layout.html" %}
{% block title %}Ping Crates{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
  <h2 align="left">Info For the Shifter</h2>
    <table class="table table-hover">
      <tr class="success"> <th> If a run passes the N100 and N20 trigger signals look good! </th> </tr>
      <tr class="danger"> <th>  If a run fails, note it in the shift report and the shift slack. No immediate action is needed. </th> </tr>
      <tr class="warning"> <th> If a run warns, a detector expert will take a look. No action needed. </th> </tr>
  </table>
</div>

<div class="page-header">
  <h1 align="center">Ping Crates</h1>
</div>


<div class="container">
  <table class="table table-hover">
    <thead>
      <tr> 
        <th> Run Number </th>
        <th> Status </th>
        <th> Crates Failed N100 </th>
        <th> Crates Failed N20 </th>
        <th> Run Type </th>
        <th> Time Run Was Processed </th>
      </tr>
    </thead>
    {% for run in runs if run %}
      {% if run.status == "Fail" %}
        <tr class="danger">
      {% elif run.status == "Pass" %}
        <tr class="success">
      {% elif run.status == "Warn" %}
        <tr class="warning">
      {% endif %}
        <th><a href="{{url_for('pingcrates_run',run_number=run.run_number) }}">{{run.run_number}}</a></th>
        <th> {{run.status}} </th> 
        <th> {{run.n100_crates_failed}} </th>
        <th> {{run.n20_crates_failed}} </th>
        <th> {{run.run_type}} </th>
        <th> {{run.time|timefmt}} </th>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
