{% extends "layout.html" %}
{% block title %}Ping Crates{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
  <h2 align="left">Information For the User</h2>
    <table class="table table-hover">
      <tr class="success"> <th> If the run status is "Pass" the N100 and N20 trigger signals look good for all crates and slots! </th> </tr>
      <tr class="danger"> <th>  If the run status is "Fail" note it in the shift report and the shift slack. No immediate action is needed, but it might be a data quality issue. </th> </tr>
      <tr class="warning"> <th> If the run status is "Warn" a detector expert will take a look. No action is needed. </th> </tr>
      <tr class="info"> <th> If run status is "Override" a detector expert has determine that the ping crates failure is not an issue with the trigger signlals. </tr>
  </table>
</div>

<div class="page-header">
  <h1 align="center">Ping Crates</h1>
</div>

<div class="container">
  Show:
  <select id="limit" onchange="get_limit(this.value);">
    <option selected value="{{limit}}">{{limit}}</option>
    {% for n in [10, 25, 50, 100, 500] %}
      {% if n != limit %}
        <option value="{{n}}">{{n}}</option>
      {% endif %}
    {% endfor %}
  </select> previous runs
  <table class="table table-hover">
    <thead>
      <tr> 
        <th> Run </th>
        <th> Failed N100 </th>
        <th> Failed N20 </th>
        <th> Warn N100 </th>
        <th> Warn N20 </th>
        <th> Processed Time </th>
      </tr>
    </thead>
    {% for i in data %}
        {% if i[6] == "Pass" %}
          <tr class="success">
        {% elif i[6] == "Fail" %}
          <tr class="danger">
        {% elif i[6] == "Warn" %}
          <tr class="warning">
        {% elif i[6] == "Override" %}
          <tr class="info">
        {% endif %} 
        <th><a href="{{url_for('pingcrates_run',run_number=i[1]) }}">{{i[1]}}</a></th>
        <th> {{i[2]}} </th>
        <th> {{i[3]}} </th>
        <th> {{i[4]}} </th>
        <th> {{i[5]}} </th>
        <th> {{i[0]}} </th>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% block script %}
  <script>
    function get_limit(limit){
      params = {};
      params["limit"] = limit;
      window.location.replace($SCRIPT_ROOT + "/pingcrates?" + $.param(params));
    }
  </script>
{% endblock %}

