{% extends "layout.html" %}
{% block title %} Ping Crates Run {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
   <h1 align="center">Run {{run_number}}</h1>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapsepeak">
          Crate Average: Peaks
        </a>
      </h4>
      <div id="collapsepeak"class="panel-collapse collapse in">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_3_'+run_number+'.png') }}"
            alt="N100 Peak By Crate" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_9_'+run_number+'.png') }}"
            alt="N20 Peak By Crate" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapsewidths">
          Crate Average: Trigger Widths
        </a>
      </h4>
      <div id="collapsewidths"class="panel-collapse collapse in">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_4_'+run_number+'.png') }}"
            alt="N100 # Samples Above Thresold By Crate" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_10_'+run_number+'.png') }}"
            alt="N20 # of Samples Above Threshold By Crate" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapserisetimes">
          Crate Average: Rise Times
        </a>
      </h4>
      <div id="collapserisetimes"class="panel-collapse collapse in">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_16_'+run_number+'.png') }}"
            alt="N100 Rise Time By Crate" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_17_'+run_number+'.png') }}"
            alt="N20 Rise Time By Crate" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapsefalltimes">
          Crate Average: Fall Times
        </a>
      </h4>
      <div id="collapsefalltimes"class="panel-collapse collapse in">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_18_'+run_number+'.png') }}"
            alt="N100 Fall Time By Crate" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_19_'+run_number+'.png') }}"
            alt="N20 Fall Time By Crate" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapsebl">
          Crate Average: Baselines
        </a>
      </h4>
      <div id="collapsebl"class="panel-collapse collapse">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_5_'+run_number+'.png') }}"
            alt="N100 Peak By Crate" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_11_'+run_number+'.png') }}"
            alt="N20 Peak By Crate" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapsepeakshist">
          Peaks
        </a>
      </h4>
      <div id="collapsepeakshist"class="panel-collapse collapse">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_1_'+run_number+'.png') }}"
            alt="N100 Baselines" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_7_'+run_number+'.png') }}"
            alt="N20 Baselines" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapsewidthhist">
          Trigger Widths
        </a>
      </h4>
      <div id="collapsewidthhist"class="panel-collapse collapse">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_2_'+run_number+'.png') }}"
            alt="N100 Baselines" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_8_'+run_number+'.png') }}"
            alt="N20 Baselines" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapsebaseline">
          Baselines
        </a>
      </h4>
      <div id="collapsebaseline"class="panel-collapse collapse">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_0_'+run_number+'.png') }}"
            alt="N100 Baselines" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_6_'+run_number+'.png') }}"
            alt="N20 Baselines" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapserise">
          Rise Times
        </a>
      </h4>
      <div id="collapserise"class="panel-collapse collapse">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_12_'+run_number+'.png') }}"
            alt="N100 Rise Time" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_13_'+run_number+'.png') }}"
            alt="N20 Rise Time" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="accordion" href="#collapsefall">
          Fall Times
        </a>
      </h4>
      <div id="collapsefall"class="panel-collapse collapse">
        <div class="panel-body">
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_14_'+run_number+'.png') }}"
            alt="N100 Fall Time" class="img-responsive col-md-6"></img>
          <img src="{{ url_for('static', filename='pingcrates/run'+run_number+'/ping_15_'+run_number+'.png') }}"
            alt="N20 Fall Time" class="img-responsive col-md-6"></img>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
