{% extends "layout.html" %}
{% block title %}Stream{% endblock %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <style>

  .horizon .title,
  .horizon .value {
    bottom: 0;
    line-height: {{ height }}px;
    margin: 0 6px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    white-space: nowrap;
  }

  </style>

  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cubism.v1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/metric.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-timezone.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-timezone-data.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Dispatcher: <span id='dispatcher'></span>
        <p>Sudbury Time: <span id='sudbury-time'></span>
      </div>
      <div class="col-md-6">
        <p class="pull-right">Step: 
        <select id="step-menu">
          {% for i in [1,10,100,1000] %}
            <option {% if step == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding:0" id="demo"></div>
    </div>
  </div>
<script>

  $("#step-menu").on("change", function() {
      window.location.replace("{{ url_for('snostream') }}?step=" + this.value + "&height={{ height }}");
  });

  setInterval(function() {
    $.getJSON($SCRIPT_ROOT + '/query', {'name': 'dispatcher'}, function(reply) {
        $('#dispatcher').text(reply.name);
    });
  },1000);

  setInterval(function() {
    $('#sudbury-time').text(moment().tz('America/Toronto').format('h:mm:ss'));
  },1000);

var size = $('#demo').width();
var context = cubism.context()
    .serverDelay(1e3)
    .clientDelay(1e3)
    .step({{ step }}*1000)
    .size(size);

d3.select("#demo").selectAll(".axis")
    .data(["top", "bottom"])
  .enter().append("div")
    .attr("class", function(d) { return d + " axis"; })
    .each(function(d) { d3.select(this).call(context.axis().ticks(12).orient(d)); });

d3.select("#demo").append("div")
    .attr("class", "rule")
    .call(context.rule());

  var TRIGGER_NAMES = ['TOTAL','100L','100M','100H','20','20LB','ESUML','ESUMH',
  'OWLN','OWLEL','OWLEH','PULGT','PRESCL', 'PED','PONG','SYNC','EXTA',
  //'EXT2','EXT3','EXT4','EXT5','EXT6','EXT7',
  'EXT8','SRAW','NCD', 'SOFGT','MISS']

var si_format = d3.format('.2s');

var my_format = function(n) {
  if (n < 100 && n % 1 === 0)
    return n.toString();
  else
    return si_format(n);
}

d3.select("#demo").selectAll(".horizon")
  .data(TRIGGER_NAMES.map(metric))
  .enter().insert("div", ".bottom")
    .attr("class", "horizon")
  .call(context.horizon().height({{ height }}).format(my_format));

d3.select("#demo").selectAll("#nhit")
  .data(["TOTAL-nhit","TOTAL-charge","PULGT-nhit","PULGT-charge"].map(metric))
  .enter().insert("div", ".bottom")
    .attr("id","nhit")
    .attr("class", "horizon")
  .call(context.horizon().height({{ height }}));

d3.select("#demo").selectAll("#gtid")
    .data(["gtid"].map(metric))
  .enter().insert("div", ".bottom")
    .attr("id","gtid")
    .attr("class", "horizon")
  .call(context.horizon().height({{ height }}).format(d3.format('#0xx')).colors([]));

d3.select("#demo").selectAll("#run")
    .data(["run"].map(metric))
  .enter().insert("div", ".bottom")
    .attr("id","run")
    .attr("class", "horizon")
  .call(context.horizon().height({{ height }}).format(d3.format()).colors([]));

d3.select("#demo").selectAll("#subrun")
    .data(["subrun"].map(metric))
  .enter().insert("div", ".bottom")
    .attr("id","subrun")
    .attr("class", "horizon")
  .call(context.horizon().height({{ height }}).format(d3.format()).extent([0,100]));

d3.select("#demo").selectAll("#heartbeat")
    .data(["heartbeat"].map(metric))
  .enter().insert("div", ".bottom")
    .attr("id","heartbeat")
    .attr("class", "horizon")
  .call(context.horizon().height({{ height }}).extent([0,4]));

context.on("focus", function(i) {
  d3.selectAll(".value").style("right", i == null ? null : context.size() - i + "px");
});

function metric(name) {
  var format = d3.time.format("%d-%b-%y");
  return context.metric(function(start, stop, step, callback) {
    d3.json($SCRIPT_ROOT + '/metric' + 
            '?expr=' + name +
            '&start=' + start.toISOString() +
            '&stop=' + stop.toISOString() +
            '&now=' + new Date().toISOString() +
            '&step=' + step, function(data) {
              if (!data) return callback(new Error('unable to load data'));
              return callback(null,data.values);
    });
  }, name);
}

</script>
{% endblock %}
