{% macro sphere_projection(container, url, name, coords, interval=None) -%}
    <script>
      (function(){
      var element = $('#{{ container }}'),
          width = element.width();
      var height = width/2.0;

      var selection = d3.select(element[0]);

      var coords = {{ coords }};

      var projection = d3.geo.mercator()
	  .scale((width + 1) / 2 / Math.PI)
	  .translate([width / 2, height / 2])
	  .precision(.1);

      var path = d3.geo.path()
	  .projection(projection);

      var graticule = d3.geo.graticule();

      var svg = d3.select(element[0]).append("svg")
	  .attr("width", width)
	  .attr("height", height);

      svg.append("path")
	  .datum(graticule)
	  .attr("class", "graticule")
	  .attr("d", path);

      d3.select(self.frameElement).style("height", height + "px");

	  //return;

      function update() {
      return $.getJSON($SCRIPT_ROOT + '{{ url }}',
                       { name: '{{ name }}' });
      }

      pos = []
      for (var i=0; i < coords.length; i++) {
	  pos[i] = projection(coords[i]);
	  //alert(pos[i]);
      }

	  //alert(pos);
	  //alert(pos.length);

      function on_done(result) {
	  id = result.id;
	  values = result.values2;

	  //alert(id);

	  for (var i=0; i < id.length; i++)
	      {
		  if (typeof(pos[id[i]]) === 'undefined') {
		      alert('undefined!')}
}

	  //alert(values);

	  svg.selectAll('circle').data(id)
              .enter().append('circle')
	  .style('fill','steelblue')
              .attr('cx',function(d) { return pos[d][0]; })
	      .attr('cy',function(d) { return pos[d][1]; })
	      .attr('r', function(d, i) { return values[i]; });
	      //.exit().remove();

      {% if interval %}
          //chart.interval({{ interval }});
      {% endif %}
      }

      update().done(on_done);
      }());

      </script>
{%- endmacro %}
