{% extends "layout.html" %}
{% block title %}Detector State{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detector_state.css') }}" media="screen">
    {{ super() }}
    <div class="container">
        {% if err %}
            Error talking to the DB : {{ err }}
        {% else %}
	    <center id="run_title"><h1> Run {{ run }} </h1></center>
            {% if mtc_state %}
            <div class="row">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseMTC">
                                        MTC
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseMTC" class="panel-collapse collapse out">
                                <div class="panel-body" id="mtc"></div>
                            </div>
                        </div>
                    </div>
            </div>
            {% endif %}
            {% if caen_state %}
            <div class="row">
                    <div class="panel-group" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseCAEN">
                                    CAEN
                                </a>
                                </h4>
                            </div>
                            <div id="collapseCAEN" class="panel-collapse collapse out">
                                <div class="panel-body" id="caen">
                                    <ul>
                                    {% for key,val in caen_state.iteritems() %}
                                        <li>{{ key}} = {{val}}</li>
                                    {% endfor %}
                                    </ul>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
            {% endif %}
            {% if detector_control_state %}
            <div class="row">
                    <div class="panel-group" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseDetectorControl">
                                        Detector Control
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseDetectorControl" class="panel-collapse collapse out">
                                <div class="panel-body" id="detector_control"></div>
                            </div>
                        </div>
                    </div>
            </div>
            {% endif %}
            {% if crates_state %}
                <div class="row">
                    <div class="panel-group" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseAllCrates">
                                        Crates
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseAllCrates" class="panel-collapse collapse out">
                                <div class="panel-body" id = "allCrates" style="height: 500px">
                                    {% for i in range(20) %}
                                        {% if crates_state[i] %}
                                            <div class="row">
                                                <div class="panel-group" >
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" href="#collapseCrate{{i}}">
                                                                    Crate{{i}}
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseCrate{{i}}" class="panel-collapse collapse out">
                                                            <div class="panel-body" id="crate{{i}}">
                                                                {% for j in range(0,15) %}
                                                                    <div id="Crate{{i}}MB{{j}}" class="card">
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detector_state.js') }}"></script>
    <script type="text/javascript">
        var mtc_data = {{ mtc_state | mtc_human_readable | tojson |safe }};
        var caen_data = {{ caen_state | caen_human_readable | tojson |safe }};
        var crates_data = {{ crates_state | all_crates_human_readable |tojson |safe }};

        var run_data = false;
        var det_cont_info = false;
        {% if run_state %}
            run_data = {{ run_state | tojson | safe }}
        {% endif %}
        {% if detector_control_state %}
            det_cont_info  = {{ detector_control_state | tojson | safe }};
        {% endif %}
        if(crates_data) {
            var d = crates_data.map(function(crate,i) {
                if(crate) {
                    MBs =  crate.map(function(mb,i) {
                        if(mb) {
                            return mb['n100_triggers']
                        }
                        else {
                           return Array.apply(null,Array(32)).map(function(x,i){return null;})
                        }
                    });
                    return  [].concat.apply([],MBs);
                    //return Array.apply(null,Array(512)).map(function(x,i){return 1;})
                }
                else {
                    return Array.apply(null,Array(512)).map(function(x,i){return null;})

                }
            });
            d = [].concat.apply([],d);
            console.log(d)
            var allCrates = d3.select("#allCrates")
            var width = allCrates.node().parentElement.parentElement.clientWidth
            var height = 500;
            allCrates.attr('width',width).attr('height',height);
            var crate = crate_view().caption(true).height(height).width(width);
            var g = allCrates.append('div').attr('id','crate').attr('width',width).attr('height',height).attr('class',"col-md-10 col-md-offset-1");
            g.datum(d).call(crate);
        }
        if (mtc_data) {

            display_triggers(mtc_data.gt_words);
            display_ped_delay( mtc_data.ped_delay);
            display_lockout_width(mtc_data.lockout_width);
            display_control_reg(mtc_data.control_reg);
            display_prescale(mtc_data.prescale);
            var mtc = d3.select("#mtc")
            var size_info ={};
            size_info['width']= mtc.node().parentElement.parentElement.clientWidth
            size_info['height']= 25;
            display_crate_mask(mtc_data.gt_crates,mtc,"GT",size_info);
            display_crate_mask(mtc_data.ped_crates,mtc,"PED",size_info);
            display_crate_mask(mtc_data.N100_crates,mtc,"N100",size_info);
            display_crate_mask(mtc_data.N20_crates,mtc,"N20",size_info);
            display_crate_mask(mtc_data.ESUMHI_crates,mtc,"ESUM HI",size_info);
            display_crate_mask(mtc_data.ESUMLO_crates,mtc,"ESUM LO",size_info);
            display_crate_mask(mtc_data.OWLELO_crates,mtc,"OWLE LO",size_info);
            display_crate_mask(mtc_data.OWLEHI_crates,mtc,"OWLE HI",size_info);
            display_crate_mask(mtc_data.OWLN_crates,mtc,"OWLN",size_info);
        }
        if (run_data) {
            display_run_type(run_data.run_type,run_data.timestamp)
        }
        if (det_cont_info) {
            display_detector_control(det_cont_info);
        }
        if (caen_data) {
            display_caen(caen_data);
        }
        resize = function() {
            if(det_cont_info){
                var det_cont = d3.select("#detector_control")
                var width = det_cont.node().parentElement.parentElement.clientWidth
                var svg = det_cont.selectAll("svg").attr("width",width);
            }
            if(mtc_data ){
                var mtc = d3.select("#mtc")
                var width = mtc.node().parentElement.parentElement.clientWidth
                var svg = mtc.selectAll("svg").attr("width",width);
            }
        };
        resize()
        window.addEventListener("resize", resize,false);
       </script>

{% endblock %}
