{% extends "layout.html" %}
{% block title %}Detector State{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        {% if err %}
            Error talking to the DB : {{ err }}
        {% else %}
	    <center><h1> Run {{ run }} </h1></center>
            {% if mtc_state %}
                <button data-toggle="collapse" data-target="#mtc">MTC</button>
                <div id="mtc" class ="collapse">
                    <ul>
                    {% for key,val in mtc_state.iteritems() %}
                        <li>{{ key}} = {{val}}</li>
                    {% endfor %}
                    </ul>
                    </div></br>
            {% endif %}
            {% if caen_state %}
                <button data-toggle="collapse" data-target="#caen">CAEN</button>
                <div id="caen" class="collapse" >
                caen stuff</br>
                    <ul>
                    {% for key,val in caen_state.iteritems() %}
                        <li>{{ key}} = {{val}}</li>
                    {% endfor %}
                    </ul>
            </div></br>
            {% endif %}
            {% if detector_control_state %}
                <button data-toggle="collapse" data-target="#detector_control">Detector Control</button>
                    <div id="detector_control" class="collapse">
                    <ul>
                    {% for key,val in detector_control_state.iteritems() %}
                        <li>{{ key}} = {{val}}</li>
                    {% endfor %}
                    </ul>
                    </div></br>
            {% endif %}
            {% for i in range(20) %}
                 {% if crates_state[i] %}
                    <button data-toggle="collapse" data-target="#crate{{i}}">Crate {{i}}</button>
                    <div id="crate{{i}}" class="collapse crate">
                        {% for key,val in crates_state[i].iteritems() %}
                            <button data-toggle="collapse" data-target="#{{key}}">{{key}}</button>
                            </br>
                            <div id="{{key}}" class="collapse card">
                            <ul>
                            {% for card_key,card_val in val.iteritems() %}
                                <li>{{card_key}} = {{card_val}}</li>
                            {% endfor %}
                            </div>
                            </ul>
                        {% endfor %}
            </div></br>
        {% endif %}
    {% endfor %}
    {% if run_state %}
        <button data-toggle="collapse" data-target="#run">Run Info</button>
        <div id="run" class="collapse">
        <ul>
        {% for key,val in run_state.iteritems() %}
            <li>{{ key }} = {{val }} </li>
        {% endfor %}
        </ul>
        <div></br>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript">
        function display_detector_control(detector_control_info) {
            det_cont = d3.select("#detector_control");
            svg = mtc.append("svg");
            svg.selectAll('cirlcle')
                .data(detector_control_info)
                .enter()
                .append('cirlcle')
                .attr("cx",function(i,d) { return 50+i*50; })
                .attr("cy",function(i,d) { return 50; })
                .attr("r",10)
        }
        function display_triggers(wordlist) {
            var mtc = d3.select('#mtc');
            mtc.append("h3").text("Enabled Triggers");
            var trig_list = d3.select('#mtc').append('ul');
            trig_list.selectAll('li')
                     .data(wordlist)
                     .enter()
                     .append('li')
                     .text(function(d){ return d;});
        };

        function display_ped_delay(delay) {
            var mtc = d3.select('#mtc')
            mtc.append("h3").text("Pedestal Delay = "+ delay.toString());

        };
        function display_lockout_width(lockout) {
            var mtc = d3.select('#mtc')
            mtc.append("h3").text("Lockout Width = "+ lockout.toString());
        };
        function display_control_reg(wordlist) {
            var mtc = d3.select('#mtc')
            mtc.append('h3').text("Control Register Values");
            var list = mtc.append('ul');
            list.selectAll('li')
                     .data(wordlist)
                     .enter()
                     .append('li')
                     .text(function(d){ return d;});
        };
        function display_crates(title,crates) {
            var mtc = d3.select('#mtc');
            mtc.append('h3').text(title);
            var crate_list = mtc.append('ul');
            crate_list.selectAll('li')
                .data(crates)
                .enter()
                .append('li')
                .text(function(d) { return d;});
        };
        function display_prescale(prescale) {
            var mtc = d3.select('#mtc');
            mtc.append('h3').text('Prescale = '+prescale.toString());
        };
        var mtc_data = {{ mtc_state | mtc_human_readable | tojson |safe }};
        var det_cont_info  = {{ detector_control | tojson | safe }};
        if (mtc_data) {

            display_triggers(mtc_data.gt_words);
            display_ped_delay( mtc_data.ped_delay);
            display_lockout_width(mtc_data.lockout_width);
            display_control_reg(mtc_data.control_reg);
            display_crates('PED Crates',mtc_data.ped_crates);
            display_crates('GT Crates', mtc_data.gt_crates);
            display_prescale(mtc_data.prescale);
            display_crates('N100 Crates',mtc_data.N100_crates);
        }
        display_detector_control(
       </script>

    <script>
    </script>
{% endblock %}
