{% extends "layout.html" %}

{% block title %}Stream{% endblock %}
{% block head %}
    {{ super() }}

<style>
    .line {
      fill: none;
      stroke: #000;
      stroke-width: 1.5px;
    }

    .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .area {
    fill: #31a354;
    stroke: #000;
    stroke-width: 0;
    opacity: 0.25;
    }

    .title {
    line-height: 30px;
    }
</style>

{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-12" id='t1'></div>
            <div class="col-md-12" id='t2'></div>
            <div class="col-md-12" id='t3'></div>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/time-series.js') }}"></script>

<script>
function update_chart(selector, url, name, chart) {
    function update(value) {
        d3.selectAll(selector).data([value]).call(chart);
    }

    function request() {
        $.getJSON(url, {'name': name}, function(reply) { update(reply.value); });
    }

    request();
    setInterval(request,1000);
}

update_chart('#t1', $SCRIPT_ROOT + '/query', 'events', timeSeries().title('Total # Events'));
update_chart('#t2', $SCRIPT_ROOT + '/query', 'events_passed', timeSeries().title('Passed # Events'));
update_chart('#t3', $SCRIPT_ROOT + '/query', 'delta_t', timeSeries().title('Time Lag'));
</script>

<script>$('#nav-time').attr('class','active');</script>

{% endblock %}
