{% extends "layout.html" %}

{% block title %}Time Series{% endblock %}
{% block head %}
    {{ super() }}

<style>
    .line {
      fill: none;
      stroke: #000;
      stroke-width: 1.5px;
    }

    .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .area {
    fill: #31a354;
    stroke: #000;
    stroke-width: 0;
    opacity: 0.25;
    }

    .title {
    line-height: 30px;
    }
</style>

{% endblock %}

{% block body %}
    {{ super() }}

<div class="container" id="main"></div>

<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/time-series.js') }}"></script>

<script>
var n = 4;
for (var i=0; i < n; i++) {
    $('#main').append($('<center />').append($('<div class="col-md-12" id="t' + i + '" />')));
}

function update_chart(selector, url, name, chart) {
    var data = [];

    function update(value) {
        var j = data.push(Object());
        data[j-1].t = Date.now();
        data[j-1].y = value;//rand();

        if (data.length > 10000) {
            data.shift()
        }

        d3.selectAll(selector).data([data]).call(chart);
    }

    function request() {
        $.getJSON(url, {'name': name}, function(reply) { update(reply.value); });
    }

    request();
    setInterval(request,2000);
}

update_chart('#t1', '/query', 'events', timeSeries().title('Total # Events'));
update_chart('#t2', '/query', 'events_passed', timeSeries().title('Passed # Events'));
</script>

<script>$('#nav-time').attr('class','active');</script>

{% endblock %}
