{% extends "layout.html" %}
{% block title %}Trigger Scan{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
	{% if error %}
	<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Error: {{ error }}
	</div>
	{% else %}
	<div class="row">
	    <div class="col-md-12">
		<table class="table">
		    <thead>
			<tr>
			    <th>Timestamp</th>
			    <th>Name</th>
			    <th>Crate</th>
			    <th>Slot Mask</th>
			    <th>Channel Mask</th>
			    <th>Baseline</th>
			    <th>DAC per nhit</th>
			</tr>
		    </thead>
		    {% for row in results %}
		    <tr>
			<td>{{ row['timestamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
			<td>{{ row['name'] }}</td>
			<td>
			{% if row['crate'] %}
			    {{ row['crate'] }}
			{% else %}
			    -
			{% endif %}
			</td>
			<td>
			{% if row['slot_mask'] %}
			    {{ "0x%04x" % row['slot_mask'] }}
			{% else %}
			    -
			{% endif %}
			</td>
			<td>
			{% if row['channel_mask'] %}
			    {{ "0x%08x" % row['channel_mask'] }}
			{% else %}
			    -
			{% endif %}
			</td>
			<td>{{ "%.2f" % row['baseline'] }}</td>
			<td>
			{% if row['adc_per_nhit'] %}
			    {{ "%.2f" % row['adc_per_nhit'] }}
			{% else %}
			    -
			{% endif %}
			</td>
		    </tr>
		    {% endfor %}
		</table>
	    </div>
	</div>
	{% endif %}
    </div>
{% endblock %}
