{% from "_formhelpers.html" import render_field, render_channel_feed_resistor, render_paddle_card_feed_resistor %}
{% extends "layout.html" %}
{% block title %}Update MTCA+ Crate Mapping{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="update-mtca-crate-mapping" method="POST" role="form">
                    <label for="mtca">MTCA+</label>
                    <select id="mtca" name="mtca">
                        <option value="0">N100</option>
                        <option value="1">N20</option>
                        <option value="2">ESUML</option>
                        <option value="3">ESUMH</option>
                        <option value="4">OWLEL</option>
                        <option value="5">OWLEH</option>
                        <option value="6">OWLN</option>
                    </select>
                    <table>
                        <tr>
                            <td> {{ render_field(form.channel1) }} </td>
                            <td> {{ render_field(form.channel0) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel3) }} </td>
                            <td> {{ render_field(form.channel2) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel5) }} </td>
                            <td> {{ render_field(form.channel4) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel7) }} </td>
                            <td> {{ render_field(form.channel6) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel9) }} </td>
                            <td> {{ render_field(form.channel8) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel11) }} </td>
                            <td> {{ render_field(form.channel10) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel13) }} </td>
                            <td> {{ render_field(form.channel12) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel15) }} </td>
                            <td> {{ render_field(form.channel14) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel17) }} </td>
                            <td> {{ render_field(form.channel16) }} </td>
                        </tr>
                        <tr>
                            <td> {{ render_field(form.channel19) }} </td>
                            <td> {{ render_field(form.channel18) }} </td>
                        </tr>
                    </table>
                    <dl>
                        {{ render_field(form.reg0) }}
                        {{ render_field(form.reg1) }}
                        {{ render_field(form.reg2) }}
                        {{ render_field(form.reg3) }}
                        {{ render_field(form.dev) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <p>The MTCA+ channels are ordered from right to left! So, channel 0 is on the top right of the MTCA+.

                <p>Select the <b>label</b> of the cable connected to each channel. For the normal MTCA+s the label number is the crate number + 1 and for the OWL MTCA+s the mapping is:

                <table class="table">
                    <tr>
                        <th> Crate </th>
                        <th> Label </th>
                    </tr>
                    <tr>
                        <td> 3 </td>
                        <td> 4 </td>
                    </tr>
                    <tr>
                        <td> 13 </td>
                        <td> 2 </td>
                    </tr>
                    <tr>
                        <td> 17 </td>
                        <td> 1 </td>
                    </tr>
                    <tr>
                        <td> 18 </td>
                        <td> 3 </td>
                    </tr>
                </table>

                <p> Select None if there is no cable connected to a given channel. For the normal MTCA+s, there should only be <b>one</b> unused channel and that will be mapped to crate 19.

                <p> The ordering of the MTCA+s in the timing rack is shown below.

                <img src="{{ url_for("static", filename="images/mtca-back.png") }}" class="img-responsive">
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $("#mtca").val("{{ form.mtca.data }}");
        function update_page() {
            window.location.replace($SCRIPT_ROOT + "/update-mtca-crate-mapping?" + $.param({'mtca': $('#mtca').val()}));
        }
        $("#mtca").on("change", update_page);
    </script>
{% endblock %}
