{% extends "layout.html" %}
{% block title %}{{ name }} Log{% endblock %}
{% block head %}
{{ super() }}
<style>
    .word-wrap {
        word-wrap: break-word;
    }

    .monospace {
        font-family:monospace;
    }

    .label-block {
        display: inline-block;
        min-width: 60px;
    }

    .line {
        border-bottom: 1px solid black;
        margin-bottom: 10px;
    }
</style>
  <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-timezone.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-timezone-data.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="col-md-12">
    <div class="container word-wrap monospace panel">
        <div class="panel-body" id="log"></div>
    </div>
</div>

<script>

var level_labels = {
    'SUCCESS' : '<span class="label label-success label-block">Success</span>',
    'INFO'    : '<span class="label label-info label-block">Info</span>',
    'WARNING' : '<span class="label label-warning label-block">Warning</span>',
    'ERROR'   : '<span class="label label-danger label-block">Error</span>',
    'DEBUG'   : '<span class="label label-default label-block">Debug</span>',
}

function same_day(a, b)
{
    return (a.date() == b.date()) && (a.month() == b.month()) && (a.year() == b.year());
}

var _last_date = null;

function update_log(seek)
{
    if (typeof(seek) === 'undefined') seek = null;

    $.getJSON($SCRIPT_ROOT + '/tail?name={{ name }}&seek=' + seek).done(function(obj) {
        var now = moment().tz('America/Toronto');

        for (var i=0; i < obj.lines.length; i++)
        {
            var line = obj.lines[i];
            var toks = line.split(' - ');

            var mom = moment(toks[0], 'YYYY-MM-DD hh:mm:ss,SSS');

            if (_last_date == null)
            {
                _last_date = mom;
            } else
            {
                if (!same_day(_last_date, mom))
                {
                    $('#log').prepend('<div class="line text-center">' + _last_date.format('MM/DD/YYYY') + '</div>');
                    _last_date = mom;
                }
            }

            if (mom.isValid())
            {
                var p = $('<p>')
                    .append(level_labels[$.trim(toks[2])])
                    .append(' ')
                    .append(mom.format('hh:mm:ss'))
                    .append(' ')
                    .append(toks.slice(3).join(' - '));

                $('#log').prepend(p);
            } else {
                // print whole message
                $('#log').prepend('<p>' + line);
            }

            if ((i == obj.lines.length-1) && !same_day(now,mom))
            {
                $('#log').prepend('<div class="line text-center">' + mom.format('MM/DD/YYYY') + '</div>');
                _last_date = mom;
            }

        }
        $("#log p").slice(1000).remove();
        setTimeout(function() { update_log(obj.seek) },1000); // 1 second
    });
};

update_log();
</script>

{% endblock %}
