.bar {
    fill: steelblue;
}

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.label {
    font: 14px sans-serif;
}

.x.axis line {
    shape-rendering: auto;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: #31a354;
    stroke: #000;
    stroke-width: 0;
    opacity: 0.25;
}

.title {
    line-height: 30px;
}
