.crate_mask rect{
    opacity:0.75;
}
.crate_mask rect.on{
    fill:green;
}
.crate_mask rect.off{
    fill:grey;
}
.rack_mask circle{
    opacity:0.75;
}
.rack_mask circle.on{

}
.rack_mask circle.off{
    fill:grey;
}
