.unknown{
    fill:#e0e0e0;
    background-color:#e0e0e0;
}
.on{
    fill:green;
    background-color:green
}
tr.on{
    color:green;
    font-weight:bold;
    fill:initial;
    background-color:initial
}
tr.off{
    fill:initial;
    background-color:initial

}
.off{
    fill:grey;
    background-color:grey;
}
